.handel-image {
    opacity: 1;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%)
}

.handel-image.wdt {
    height: 100%;
    width: auto
}

.handel-image.hgt {
    width: 100%;
    height: auto
}

.no-image {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .1);
    position: absolute;
    left: 0;
    top: 0
}

.sro-right-word2 {
    overflow: hidden
}

.sro-right-word2-span {
    margin: 0 !important;
    padding: 6px 0 3px !important
}

.yichu-outer {
    position: relative
}

.yichu {
    position: absolute;
    bottom: -20px;
    left: 0;
    cursor: pointer;
    font-size: 20px;
    color: #767676 !important
}

@-webkit-keyframes fadeInOut {
    0% {
        opacity: 0
    }
    25% {
        opacity: .3
    }
    50% {
        opacity: .6
    }
    75% {
        opacity: 1
    }
}

.anim_fade_image {
    width: 100%;
    height: 100%;
    opacity: 0;
    transform: translate(-50%);
    text-align: center;
    transition: background-image, opacity 1s;
    background-size: cover;
    background-position: 50%;
    height: 500px
}

.listBox {
    background: #f5f5f5
}

.listBox .loading {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: #fff;
    z-index: 99
}

.list-banner {
    position: relative;
    width: 100%;
    text-align: center
}

.list-banner img {
    width: 100%;
    margin: 0 auto
}

.list-banner-name {
    width: 100%;
    height: 100%;
    color: #fff
}

.list-banner-name div {
    margin-top: 10%
}

.list-icon {
    background: #fff
}

.list-icon-center {
    margin: 0 auto;
    display: flex;
    background: #fff;
    justify-content: space-around;
    padding: 0 6%
}

.list-icon-center:hover {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .16)
}

.list-pang-line {
    width: 1px;
    height: 60px;
    background: #e0e0e0;
    float: left
}

.list-icon-outer {
    float: left;
    flex-shrink: 0
}

.list-icon-one {
    color: #333;
    padding: 0 15px;
    margin: 19px 0 15px;
    text-align: center
}

.list-icon-line-right {
    width: 1px;
    position: relative;
    margin: 19px 0 15px
}

.list-icon-line-right:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 1px;
    height: 100%;
    background: #e0e0e0
}

.list-icon-center-flex:last-child .list-icon-outer .list-icon-one {
    border-right: 0 solid #e0e0e0
}

.list-icon-one-line {
    width: calc(100% - 40px);
    height: 2px;
    margin-top: 14px;
    background-color: #fff;
    margin-left: 20px;
    transition-duration: .5s
}

.list-icon-one:hover {
    cursor: pointer;
    color: #dc000c
}

.list-icon-one:hover + .list-icon-one-line {
    background-color: #dc000c
}

.list-icon-one img {
    height: 70px
}

.list-icon-one span {
    display: inline-block;
    width: 100%;
    text-align: center;
    transition-duration: .5s;
    height: 45px
}

.phone-list-icon-center {
    width: 100%;
    background: #f8f8f8;
    margin: 20px 0;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap
}

.phone-icon-one {
    width: 82px;
    float: left;
    background: #fcfcfc;
    text-align: center;
    padding: 15px 0;
    -moz-columns: #333;
    column-count: #333;
    font-size: 13px;
    margin-bottom: 10px;
    color: #333;
    font-weight: 400
}

.phone-icon-one:hover {
    color: #dc000c;
    border-bottom: 2px solid #dc000c
}

.phone-Filter {
    width: 100%;
    text-align: center;
    font-size: 17px;
    font-weight: 400;
    line-height: 20px;
    color: #0064d9;
    background: #fff;
    padding: 22px 0
}

.activeClass .list-icon-outer .list-icon-one span {
    color: #dc000c !important
}

.activeClass .list-icon-outer .list-icon-one-line {
    background-color: #dc000c !important
}

.select-box {
    width: 100%;
    margin-top: 20px;
    overflow: hidden;
    padding-right: 3px
}

.select-left {
    width: 23.93%;
    float: left;
    background: #fff;
    position: relative
}

.select-left, .select-right {
    padding-bottom: 3000px;
    margin-bottom: -3000px
}

.select-right {
    width: 74.65%;
    float: right
}

.sl-button {
    overflow: hidden;
    height: 50px;
    line-height: 50px;
    padding: 0 20px;
    border-bottom: 3px solid #f8f8f8
}

.sl-button-filter {
    color: #1d1d1d;
    float: left
}

.sl-button-reset {
    cursor: pointer;
    color: #0064d9;
    float: right
}

.sl-lists {
    margin: 0 20px
}

.sllo-title {
    padding: 10px 0;
    color: #3e3e3e;
    border-bottom: 1px solid #d9d9d9;
    margin: 20px 0 15px;
    font-weight: 700
}

.el-checkbox {
    display: block
}

.select-right-one {
    width: 100%;
    background: #fff;
    margin-bottom: 20px;
    padding: 25px
}

.select-right-one:last-child {
    margin-bottom: 0
}

.select-right-one:hover {
    box-shadow: 0 12px 12px -10px rgba(0, 0, 0, .15)
}

.sro-title {
    display: block;
    cursor: pointer;
    color: #333;
    font-weight: 700;
    margin-bottom: 20px
}

.sro-value {
    position: relative
}

.sro-value:after {
    display: block;
    content: "";
    clear: both
}

.sro-value img {
    width: 51.5%;
    float: left;
    cursor: pointer
}

.sro-right {
    float: right;
    width: 41.5%;
    position: absolute;
    right: 0
}

.sro-right-word1 {
    line-height: 26px;
    color: #333
}

.sro-right-word2 {
    margin-top: 20px;
    line-height: 20px;
    color: #767676
}

.sro-right-word2 a {
    color: #767676 !important
}

.sro-right-word2-span {
    cursor: pointer;
    display: inline-block;
    margin: 6px 0 3px
}

.sro-right-word2-span:hover {
    color: #0064d9 !important
}

.selectEd-box {
    width: 100%;
    height: auto
}

.selected-one {
    margin-top: 20px;
    width: calc((100% - 40px) / 3);
    color: #333;
    background: #fff;
    text-align: center;
    float: left;
    padding: 20px;
    cursor: pointer;
    margin-left: 20px;
    transition: all .3s
}

.selected-one:nth-of-type(3n+1) {
    margin-left: 0
}

.selected-one:first-of-type, .selected-one:nth-of-type(2), .selected-one:nth-of-type(3) {
    margin-top: 0
}

.selected-one:hover {
    box-shadow: 0 3px 6px rgba(0, 0, 0, .16)
}

.selected-one img {
    width: 100%
}

.selected-one-title {
    font-weight: 400;
    line-height: 26px;
    text-align: left;
    margin-bottom: 10px;
    color: #333
}

.pc-selected-one .selected-one-title {
    height: 52px;
    text-overflow: -o-ellipsis-lastline;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    width: calc(100% - 30px);
    white-space: normal;
    word-break: break-all
}

.selected-one-desc {
    font-weight: 400;
    line-height: 26px;
    text-align: left;
    color: #333;
    padding-bottom: 20px
}

.service {
    margin: 70px 0 60px
}

.service-title {
    color: #333;
    font-weight: 700;
    text-align: center;
    margin-bottom: 40px
}

.service-content {
    display: flex;
    justify-content: space-between
}

.service-content-item {
    width: 23.93%;
    background: #fff;
    cursor: pointer;
    position: relative;
    height: 0;
    padding-bottom: 23.93%;
    overflow: hidden
}

.service-content-item .service-pic {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%);
    height: 100%;
    width: auto;
    z-index: 1
}

.service-content-item .text-container {
    position: absolute;
    top: 100%;
    left: 0;
    padding: 0 4%;
    background: rgba(0, 0, 0, .5);
    transform: translateY(-60px);
    z-index: 2;
    width: 100%;
    color: #fff;
    transition: all .2s
}

.service-content-item .text-container .title {
    line-height: 50px;
    font-size: 24px;
    margin-bottom: 6px
}

.service-content-item .text-container .desc {
    line-height: 24px;
    font-size: 18px;
    padding-bottom: 16px
}

.service-content-item:hover .text-container {
    transform: translateY(-100%)
}

.service-content-item .phone-service-name {
    position: absolute;
    left: 0;
    bottom: 0;
    line-height: 2;
    background: rgba(0, 0, 0, .5)
}

.service-content-one {
    width: 23.93%;
    background: #fff;
    cursor: pointer;
    transition: all .3s
}

.service-content-one:hover {
    box-shadow: 0 3px 6px rgba(0, 0, 0, .16)
}

.sco-top {
    width: calc(100% - 20px);
    margin: 10px auto;
    overflow: hidden;
    text-align: center;
    position: relative
}

.sco-top img {
    width: 100%;
    text-align: center;
    transition-duration: .5s
}

.sco-top img:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1)
}

.sco-top div {
    color: #fff;
    position: absolute;
    bottom: 20px;
    left: 20px
}

.sco-bottom {
    color: #828282;
    margin: 5px 10px 25px
}

.sl-button-reset img {
    width: 15px;
    margin-top: -2px
}

.sl-button-reset:hover .sl-button-reset-img {
    transform: rotate(180deg);
    transition-duration: .5s
}

.el-checkbox__input.is-checked .el-checkbox__inner, .el-checkbox__input.is-indeterminate .el-checkbox__inner {
    background-color: #1d1d1d;
    border-color: #1d1d1d
}

.el-checkbox__input.is-checked + .el-checkbox__label {
    color: #767676
}

.el-checkbox__label {
    color: #333;
    font-size: 14px;
    width: 100%
}

.sllo-check {
    line-height: 35px
}

.product-jt-img {
    width: 30px;
    height: 12px;
    margin-top: 4px;
    margin-left: 5px;
    float: right;
    display: inline-block;
    background-size: 6px 11px;
    background-repeat: no-repeat;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI1LjY5IiBoZWlnaHQ9IjkuOTgiPjxwYXRoIGRhdGEtbmFtZT0i6Lev5b6EIDc2MiIgZD0iTS45OS45OWw0IDQtNCA0IiBmaWxsPSJub25lIiBzdHJva2U9IiM3Njc2NzYiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIgc3Ryb2tlLW1pdGVybGltaXQ9IjEwIiBzdHJva2Utd2lkdGg9IjEuNCIvPjwvc3ZnPg==)
}

.sro-right-word2-span:hover .product-jt-img {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI1LjY5IiBoZWlnaHQ9IjkuOTgiPjxwYXRoIGRhdGEtbmFtZT0i6Lev5b6EIDc2MSIgZD0iTS45OS45OWw0IDQtNCA0IiBmaWxsPSJub25lIiBzdHJva2U9IiMwMDY0ZDkiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIgc3Ryb2tlLW1pdGVybGltaXQ9IjEwIiBzdHJva2Utd2lkdGg9IjEuNCIvPjwvc3ZnPg==)
}

.sro-title img {
    width: 10px
}

.select-right-one .sro-title:hover {
    color: #333 !important
}

.selected-one-desc-div {
    display: flex;
    justify-content: space-between;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

.selected-one-title img {
    width: 8px;
    margin-top: -2px
}

.selected-big-Pic {
    margin: 10px 0;
    width: 100%;
    padding-bottom: 60%;
    position: relative;
    overflow: hidden
}

.sort-list {
    float: right;
    width: 135px
}

.model-name img {
    width: 7px
}

.el-input__inner::-webkit-input-placeholder {
    color: #999
}

.el-input__inner::-moz-input-placeholder {
    color: #999
}

.el-input__inner::-ms-input-placeholder {
    color: #999
}

.el-select .el-input .el-select__caret {
    color: #999
}

.el-checkbox__inner {
    width: 16px;
    height: 16px;
    border: 2px solid #dcdfe6;
    border-radius: 0
}

.el-radio__input.is-checked + .el-radio__label {
    color: #1d1d1d !important
}

.el-radio__input.is-checked .el-radio__inner {
    border-color: #1d1d1d !important;
    background: #1d1d1d !important
}

.el-radio {
    line-height: 40px !important
}

.el-radio, .hidden-small {
    display: block
}

.visible-small {
    display: none
}

@media only screen and (max-width: 992px) {
    .hidden-small {
        display: none
    }

    .visible-small {
        display: block
    }

    .phone-icon-onea {
        width: 100%
    }

    .phone-Filter {
        border-top: 1px solid #f8f8f8;
        display: flex;
        justify-content: space-between;
        padding: 0 20px;
        height: 60px;
        line-height: 60px;
        transition: all 0s
    }

    .phone-icon-one img {
        height: 45px;
        margin-bottom: -20px
    }

    .sl-lists-one-outer {
        width: 100%;
        z-index: 1;
        box-sizing: border-box;
        padding: 0 20px 30px
    }

    .select-left {
        display: none
    }

    .select-right {
        width: 100%
    }

    .select-right-one .sro-title {
        font-size: 17px !important
    }

    .list-icon {
        background: #f5f5f5
    }

    .sro-right-word1 {
        margin-top: 16px;
        font-size: 12px;
        line-height: 30px
    }

    .sro-right-word1 div {
        display: flex;
        justify-content: space-between;
        font-size: 14px;
        color: #333;
        line-height: 28px
    }

    .sro-right-word2 {
        border-top: 1px solid #d9d9d9;
        padding-top: 10px;
        margin-top: 20px;
        font-size: 14px;
        line-height: 28px;
        max-height: 120px;
        overflow: hidden
    }

    .select-right-one {
        padding: 22px 17px;
        margin: 17px;
        width: calc(100% - 34px)
    }

    .sro-right-word2-span {
        margin-right: 0
    }

    .select-right-one:first-child {
        margin-top: 0
    }

    .select-box {
        margin-top: 20px
    }

    .service {
        margin: 20px 0 30px
    }

    .service-content {
        display: block;
        overflow: hidden;
        margin: 0 20px
    }

    .service-content-one {
        width: calc(50% - 5px);
        background: rgba(0, 0, 0, .3)
    }

    .service-content-one:nth-child(odd) {
        float: left
    }

    .service-content-one:nth-child(2n) {
        float: right
    }

    .service-content-one:first-of-type, .service-content-one:nth-of-type(2) {
        margin-bottom: 10px
    }

    .phone-service-name {
        color: #fff;
        font-size: 17px;
        position: absolute;
        line-height: 120px;
        left: 0 !important;
        width: 100%
    }

    .sco-top img {
        width: 100%;
        text-align: center;
        margin: 0
    }

    .overflow_x, .phone-list-icon-center {
        overflow-x: scroll;
        background: #fff
    }

    .phone-list-icon-center {
        white-space: nowrap;
        margin: 0 2vw;
        flex-wrap: nowrap;
        padding-bottom: 10px
    }

    .phone-list-icon-center::-webkit-scrollbar {
        display: none
    }

    .phone-list-icon-center {
        scrollbar-width: none;
        -ms-overflow-style: none
    }

    .phone-icon-one {
        width: 120px;
        background: #fff;
        box-shadow: -1px -1px 1px 0 #fff;
        margin-bottom: 10px;
        margin-top: 10px;
        padding: 0;
        float: none;
        display: inline-block;
        white-space: pre-wrap;
        display: flex
    }

    .phone-icon-one-div {
        padding: 10px 0;
        line-height: 15px;
        align-self: center;
        text-align: center;
        width: 100%
    }

    .phone-icon-one:last-child {
        margin-right: 17px
    }

    .phone-icon-one.activeClass .phone-icon-one-div {
        color: #dc000c !important
    }

    .phone-icon-one:hover {
        color: #3e3e3e;
        border-bottom: none
    }

    .sco-top {
        width: 100%;
        margin: 0
    }

    .sro-title img {
        width: 7px
    }

    .product-jt-img {
        margin-top: 9px;
        background-size: 5px 9px;
        width: 25px
    }

    .gray {
        color: #767676
    }

    .phone-popup {
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, .7);
        position: fixed;
        top: 0;
        left: 0;
        z-index: 99999
    }

    .el-checkbox__label {
        font-size: 14px
    }

    .sllo-title {
        font-size: 17px
    }

    .sl-lists {
        width: 100%;
        height: 100%;
        overflow-y: scroll;
        background: #fff;
        margin-left: 0
    }

    .sllo-title {
        padding: 20px 0 15px;
        margin: 0
    }

    .phone-popup-btns {
        position: relative;
        z-index: 2;
        background: #fff;
        padding: 15px 20px 0;
        font-size: 14px;
        display: flex;
        justify-content: space-between
    }

    .phone-popup-btns div {
        width: calc((100% - 12px) / 2);
        padding: 10px 0;
        text-align: center
    }

    .phone-popup-btns div:first-of-type {
        background: #fff;
        border: 1px solid #1d1d1d;
        color: #1d1d1d
    }

    .no-choose {
        border: 1px solid #e0e0e0 !important;
        color: #e0e0e0 !important
    }

    .phone-popup-btns-addClass {
        background: #1d1d1d !important;
        color: #fff !important;
        transition: all .3s !important
    }

    .phone-popup-btns div:nth-of-type(2) {
        background: #dc000c;
        color: #fff
    }

    .list-banner-name div {
        text-align: center;
        margin-top: 22%
    }

    .selectEd-box {
        width: auto;
        margin: 0 20px
    }

    .selected-one {
        width: 100%;
        padding: 20px 17px;
        margin-left: 0 !important
    }

    .selected-one:nth-of-type(odd) {
        float: left
    }

    .selected-one:nth-of-type(2n) {
        float: right
    }

    .selected-one-title img {
        width: 7px;
        margin-top: -3px;
        margin-left: 4px
    }

    .selected-one-title {
        font-weight: 600;
        font-size: 17px
    }

    .selected-one-desc {
        font-size: 14px;
        line-height: 35px;
        padding-bottom: 10px
    }

    .phone-page {
        width: 100%;
        height: 44px;
        line-height: 44px;
        font-size: 17px;
        background: #fff;
        padding: 0 20px;
        margin-top: 20px
    }

    .phone-page img {
        width: 10px;
        margin-top: 13px;
        height: 18px
    }

    .phone-page img:first-of-type {
        float: left
    }

    .phone-page img:nth-of-type(2) {
        float: right
    }

    .phone-page div {
        width: calc(100% - 20px);
        float: left;
        text-align: center
    }

    .phone-page div span:first-of-type {
        color: #0064d9
    }

    .phone-page div span:nth-of-type(2) {
        color: #1d1d1d
    }

    .list-banner {
        overflow: hidden
    }

    .phone-shaixuan {
        width: 100%;
        background: #fff;
        height: 60px;
        line-height: 60px
    }

    .phone-shaixuan .phone-Filter {
        float: left;
        width: 30%;
        line-height: 60px;
        margin-top: 0;
        text-align: left;
        padding: 0 0 0 20px
    }

    .phone-shaixuan .sort-list {
        float: right;
        width: 70%;
        text-align: right;
        margin-bottom: 0;
        margin-top: 0;
        padding-right: 20px;
        color: #1d1d1d;
        position: relative;
        font-size: 14px;
        border-top: 1px solid #f8f8f8
    }

    .phone-Filter .phone-Filter-img {
        width: 15px
    }

    .sort-list .sort-list-default {
        position: absolute;
        top: 0;
        right: 40px
    }

    .phone-shaixuan .sort-list .el-select .el-input .el-input__inner, .phone-shaixuan .sort-list .el-select .el-input .el-select__caret {
        color: #1d1d1d
    }

    .selected-one:nth-of-type(2), .selected-one:nth-of-type(3) {
        margin-top: 20px
    }

    .select-right-one:last-child, .selected-one:last-child {
        margin-bottom: 20px
    }

    .service-title {
        margin: 45px 0 25px
    }

    .sro-right, .sro-value img {
        width: 100%;
        position: relative
    }

    .mobile-service-cha {
        width: 7px
    }

    .phone-page .phone-page-left {
        width: 30%;
        float: left
    }

    .phone-page .phone-page-center {
        width: 40%;
        float: left
    }

    .phone-page .phone-page-right {
        width: 30%;
        float: left
    }

    .phone-page .phone-page-right img {
        float: right
    }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
    .list-banner {
        max-width: 800px;
        height: 50vw;
        margin: 0 auto;
        overflow: hidden
    }
}

@media only screen and (min-width: 992px) {
    .list-icon-one {
        padding: 0 12px
    }

    .sro-right-word1 {
        font-size: 16px
    }
}

@media only screen and (max-width: 1910px) and (min-width: 1441px) {
    .sro-right-word2 {
        overflow: hidden;
        height: 123px
    }
}

@media only screen and (max-width: 1441px) and (min-width: 1281px) {
    .service-content-item .text-container {
        transform: translateY(-42px)
    }

    .service-content-item .text-container .title {
        line-height: 40px;
        font-size: 20px;
        margin-bottom: 2px
    }

    .service-content-item .text-container .desc {
        line-height: 20px;
        font-size: 16px;
        padding-bottom: 12px
    }
}

@media only screen and (max-width: 1280px) and (min-width: 1025px) {
    .service-content-item .text-container {
        transform: translateY(-40px)
    }

    .service-content-item .text-container .title {
        line-height: 32px;
        font-size: 18px;
        margin-bottom: 2px;
        padding-top: 6px
    }

    .service-content-item .text-container .desc {
        line-height: 18px;
        font-size: 14px;
        padding-bottom: 10px
    }
}

.service-content-item .mobile-service-name {
    width: 100%;
    position: absolute;
    left: 0;
    z-index: 3;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    font-size: 28px;
    color: #fff
}

.service-content-item .mobile-service-name img {
    width: 12px
}

@media only screen and (max-width: 1280px) {
    .service-content-item .mobile-service-name {
        font-size: 20px
    }

    .service-content-item .mobile-service-name img {
        width: 9px
    }
}

@media only screen and (max-width: 1024px) and (min-width: 320px) {
    .service-title.font-2 {
        font-size: 32px
    }

    .service-content {
        flex-wrap: wrap;
        display: flex
    }

    .service-content-item {
        width: 48%;
        margin-bottom: 4%;
        padding-bottom: 48%
    }

    .service-content-item .mobile-service-name {
        width: 100%;
        position: absolute;
        left: 0;
        z-index: 3;
        top: 50%;
        transform: translateY(-50%);
        text-align: center;
        font-size: 30px;
        color: #fff
    }

    .list-banner img {
        width: auto
    }
}

.service-content-item:after {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 2;
    height: 100%;
    background: rgba(0, 0, 0, .5);
    content: ""
}

@media only screen and (max-width: 768px) {
    .service-content-item .mobile-service-name img {
        width: 6px
    }

    .service-content-item .mobile-service-name {
        font-size: 18px
    }
}

@media only screen and (max-width: 414px) and (min-width: 375px) {
    .service-title.font-2 {
        font-size: 22px
    }

    .service-content-item .mobile-service-name {
        font-size: 16px
    }
}

@media only screen and (max-width: 374px) and (min-width: 320px) {
    .service-title.font-2 {
        font-size: 18px
    }

    .service-content-item .mobile-service-name {
        font-size: 12px
    }
}

@media only screen and (min-width: 1441px) {
    .font-16 {
        font-size: 16px
    }

    .sl-button-reset img {
        width: 20px
    }

    .el-checkbox__label {
        font-size: 16px
    }

    .sllo-check {
        line-height: 40px
    }

    .sro-right-word2 {
        margin-top: 40px
    }

    .sro-right-word1 {
        line-height: 30px
    }

    .sro-title img {
        width: 10px
    }

    .sro-title {
        font-size: 30px
    }

    .selected-one-title img {
        width: 10px;
        margin-top: -3px
    }

    .selected-one-desc {
        line-height: 35px
    }

    .selected-one {
        padding: 25px
    }

    .model-name img {
        width: 10px
    }

    .list-icon-one-line {
        width: calc(100% - 60px);
        margin-left: 30px
    }

    .select-right-one {
        padding: 35px
    }

    .list-banner {
        height: 500px;
        overflow: hidden
    }

    .list-banner img {
        position: absolute;
        left: 50%;
        top: 0;
        transform: translate(-50%);
        width: 1920px;
        height: 500px
    }
}

.sro-title {
    font-size: 24px !important
}

.category-sllo-check .el-checkbox-group {
    padding-top: 8px
}

.listBox .el-input__inner {
    border: 0 solid #fff;
    background-color: transparent
}

.listBox .sl-lists-imgs {
    background: #fff;
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    padding: 25px 20px 15px
}

.sl-lists-one-outer .el-checkbox {
    font-weight: 400
}

.sl-lists-imgs .popFilter {
    font-size: 17px;
    font-weight: 400;
    text-align: left;
    color: #3e3e3e
}

.sl-lists-imgs .closePopup {
    width: 15px;
    height: 15px
}

.select-left.absoluted {
    position: absolute;
    top: 0;
    left: 0;
    padding-bottom: 0;
    margin-bottom: 0
}

.breadcrumb-warp {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%
}

.black.breadcrumb-warp .breadcrumbs a {
    color: #000
}

.black.breadcrumb-warp .el-breadcrumb__separator {
    color: #333
}

.sort-list {
    border: none;
    background: none
}

.myselect::-ms-expand {
    border: none;
    color: grey;
    background-color: transparent;
    background: none
}

@media screen and (max-width: 768px) {
    .list-banner {
        position: relative;
        height: 61.6vw;
        width: 100%
    }

    h1.cat-title {
        font-size: 20px;
        padding: 0 20px 22px;
        margin: 0 !important;
        font-weight: 700;
        position: relative;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        color: #333
    }
}

.nodata-reset {
    font-size: 16px;
    text-align: center;
    color: #767676;
    margin-top: 80px;
    margin-bottom: 30px
}

.nodata-reset span {
    text-decoration: underline
}

.fix-phone-Filter {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 5
}

#phoneShaixuan {
    position: relative;
    margin-top: -10px
}

.sllo-check .el-checkbox {
    margin-right: 0;
    padding-right: 30px;
    margin-bottom: 0;
    padding-bottom: 10px
}

.breadcrumb-cl {
    padding-top: 20px;
    text-align: left
}

.breadcrumbs {
    padding-left: 40px;
    font-size: 14px;
    text-decoration: none;
    transition: color .2s cubic-bezier(.645, .045, .355, 1)
}

.el-breadcrumb__separator[class*=icon] {
    margin: 0 6px 0 0
}

.breadcrumbs a {
    color: #fcfbfb;
    text-decoration: none
}

.el-breadcrumb__item:last-child .el-breadcrumb__inner, .el-breadcrumb__item:last-child .el-breadcrumb__inner:hover, .el-breadcrumb__item:last-child .el-breadcrumb__inner a, .el-breadcrumb__item:last-child .el-breadcrumb__inner a:hover {
    color: #fcfbfb;
    font-weight: 700
}

.el-breadcrumb__inner, .el-breadcrumb__inner.is-link, .el-breadcrumb__inner.is-link:hover, .el-breadcrumb__inner a, .el-breadcrumb__inner a:hover {
    color: #fcfbfb
}

@media screen and (min-width: 1025px) {
    .el-breadcrumb__separator[class*=icon] {
        color: #fff
    }
}

.sku-top-outer .breadcrumbs .el-breadcrumb__separator[class*=icon] {
    color: #333
}

@media screen and (max-width: 1024px) {
    .breadcrumb-category .breadcrumb-top {
        background: #f5f5f5
    }

    .sku-breadcrumb .breadcrumb-top {
        background: #f8f8f8
    }

    .breadcrumb-cl {
        padding-top: 20px;
        padding-bottom: 20px
    }

    .breadcrumbs {
        padding-left: 20px;
        padding-right: 20px;
        line-height: 1.8
    }

    .breadcrumbs a {
        color: #555
    }

    .breadcrumbs a.current {
        display: block;
        color: #e60012
    }
}