@font-face {
  font-family: 'Sanyzcg';
  src: url('../fonts/Sanyzcg-_regular_pro4.ttf');
}

body {
  line-height: 1.42857143;
}

* {
  text-decoration: none;
  padding: 0;
  margin: 0;
  font-family: 'Sanyzcg', 'Helvetica Neue', Arial;
  /* transition: all .3s; */
 -webkit-tap-highlight-color: transparent;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

input,
select,
textarea,
label {
  font-family: 'Sanyzcg', 'Helvetica Neue', Arial;
}

a,
a:hover,
a:active,
a:visited,
a:link,
a:focus {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  outline: none;
  background: none;
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

.cb {
  clear: both;
}


.visible-xs {
  display: none !important;
}

.hidden-xs {
  display: block !important;
}

@media only screen and (max-width: 768px) {
  .visible-xs {
    display: block !important;
  }

  .hidden-xs {
    display: none !important;
  }
}

.visible-1024 {
  display: none !important;
}

.hidden-1024 {
  display: block !important;
}

@media only screen and (max-width: 1024px) {
  .visible-1024 {
    display: block !important;
  }

  .hidden-1024 {
    display: none !important;
  }
}

.visible-1080 {
  display: none !important;
}

.hidden-1080 {
  display: block !important;
}

@media only screen and (max-width: 1080px) {
  .visible-1080 {
    display: block !important;
  }

  .hidden-1080 {
    display: none !important;
  }
}

.visible-1280 {
  display: none !important;
}

.hidden-1280 {
  display: block !important;
}

@media only screen and (max-width: 1280px) {
  .visible-1280 {
    display: block !important;
  }

  .hidden-1280 {
    display: none !important;
  }
}


/* @media only screen and (max-width: 768px) {

  html,
  body {
    font-size: 5px;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {

  html,
  body {
    font-size: 6px;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1280px) {

  html,
  body {
    font-size: 8px;
  }
}

@media screen and (min-width: 1281px) and (max-width: 1600px) {

  html,
  body {
    font-size: 9px;
  }
}

@media screen and (min-width: 1601px) {

  html,
  body {
    font-size: 10px;
  }
} */


.container {
  margin-right: auto;
  margin-left: auto;
}

/*@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
@media (min-width: 1440px) {
	.container {
    width: 1200px;
  }
}
@media (min-width: 1910px) {
	.container {
    width: 1400px;
  }
}*/





@media (min-width: 1601px) {
  .container {
    width: 1400px;
  }
}

@media (max-width: 1600px) {
  .container {
    width: 83.3%;
  }
}

@media (max-width: 1440px) {
  .container {
    width: 75%;
  }
}

@media (max-width: 1366px) {
  .container {
    width: 73%;
  }
}

@media (max-width: 768px) {
  .container {
    width: 100%;
  }
}



video {
  object-fit: fill;
}

.relative {
  position: relative;
}

.section-nav {
  font-size: 0;
  z-index: 999;
}

.uiWeb {
  background: #F8F8F8;
}

.new-container {
  width: calc(100% - 100px);
  max-width: 1200px;
  margin: 0 auto;
}

.new-padding {
  padding-left: 0px;
}

@media (max-width: 1366px) {
  .new-padding {
    padding: 0 50px;
  }
}

@media screen and (max-width:1024px) {
  .section-nav {
    font-size: 0;
    position: relative;
    z-index: 999;
  }

  .section-nav.show {
    z-index: 1000;
  }

  .nav-fixed-body {
    padding-top: 60px;
  }
}

@media (max-width: 768px) {
  .new-container {
    width: calc(100% - 40px);
  }

  .new-padding {
    padding: 0px;
  }
}