.section-topBanner{
  display: none!important;
}
@media (max-width:767px) {
  .slider_main .item img{
    height:45vh;
    object-fit: cover;
  }
}
.section-quick{
  .main-quick{
    .sec_inner{
      ul{
        li{
          a{
            .ico_img{
              img{
                max-width: 100%;
                height: auto;
                filter: grayscale(100%);
                transition: 0.15s;
                &:hover{
                  filter: grayscale(0%);
                  transition: 0.15s;
                }
              }
            }
          }
        }
      }
    }
  }
}
body{
  #features{
    font-size: 16px!important;
    .panel-default{
      border: none;
      margin-bottom: 20px;
      border-radius: 0px;
      box-shadow: none;
      .panel-title{
        a{
          display: block;
          padding:20px 40px;
          font-size: 24px;
          color: #333;
          position: relative;
          &::before{
            position: absolute;
            top: 25px;
            right: 35px;
            content: "";
            width:20px;
            height:20px;
            background:url("../img/close.png");
            background-size: cover;
            transition: 0.2s;
          }
          &[aria-expanded="true"]{
            &::before{
              transform: rotate( 0deg );
            }
          }
          &[aria-expanded="false"]{
            &::before{
              transform: rotate( 45deg );
            }
          }
          @media (max-width:767px) {
            font-size: 18px;
            padding: 15px 45px 15px 15px;
            &::before{
              top: 18px;
              width: 15px;
              height: 15px;
              right:15px;
            }
          }
        }
      }
      .panel-body-custom{
        padding:20px 40px;
        font-size: 16px;
        color: #504f4f;
        @media (max-width:767px){
          padding: 15px;
        }
      }
    }
  }
  #gallery{
    font-size: 22px;
    .detail-maodian{
      background: #f8f8f8;
      &:hover{
        box-shadow:none!important;
      }
    }
    .gallery-pc-custom{
      text-align: center;
      display: inline-block!important;
      width: 100% !important;
      margin: auto;
      border: none;
      padding-top: 20px;
      li{
        float: none;
        display:inline-block;
        margin-bottom:0px;
        padding: 0px 70px;

        &::after{
          position: absolute;
          content: "";
          width: 1px;
          height: 32px;
          background: #e0e0e0;
          right: 0px;
          top: 0px;
        }
        &:first-child{
          padding-left: 0px;
        }
        &:last-child{
          padding-right: 0px;
          &::after{
            display: none;
          }
        }
        a{
          border: none;
          cursor: pointer;
          border-bottom: 2px solid transparent;
          padding: 0px 0px 15px 0px;
          color: #333;
          &:hover, &:focus{
            background: #fff;
          }
        }
        &.active{
          a{
            border-bottom: 2px solid red;
          }
        }
      }
    }
    .content-custom{
      margin-top: 20px;
      margin-bottom: 20px;
      .slider-gallery{
        .owl-nav{
          .owl-prev, .owl-next{
            background: hsla(0,0%,100%,.6);
            color: #000;
            border-radius: 0;
            width: 50px;
            height: 50px;
            line-height: 50px;
            font-size: 20px;
            opacity: 0;
          }
          .owl-prev{
            left: 15px;
          }
          .owl-next{
            right: 15px;
          }
        }
        &:hover{
          .owl-prev, .owl-next{
            opacity: 1;
          }
          .owl-prev{
            left: 0px;
          }
          .owl-next{
            right:0px;
          }
        }
      }
    }
    @media (max-width: 767px) {
      font-size:13px;
      .gallery-pc-custom{
        li{
          padding:0px 15px;
          &::after{
            display: none;
          }
        }
      }
    }
  }
  #formRequest{
    .form-one-line{
      display: block;
      input, select, textarea{
        height: 50px;
        font-size: 16px;
        border-radius: 0px;
        border:1px solid #333;
        transition: 0.25s;
        background-color: #f8f8f8;
        &:hover, &:focus{
          border-color: #c0c4cc;
        }
      }
      textarea{
        height: inherit;
      }
      select{
        background: url(../img/br_down.png) no-repeat;
        background-size: 10px;
        -webkit-appearance: none;
        background-position-x: 95%;
        background-position-y: 44%;
      }
    }
    .el-button--primary{
      &:hover {
        background: #000!important;
      }
    }
    .expand-div-desc, .expand-expand-desc{
      padding: 0px 5px;
    }
    .expand-expand-desc{
      img{
        margin-left: 5px;
        width:8px;
        transform: rotate(90deg);
      }
    }
    .expand-div{
      display:none;
    }
  }
} 
.goods-warp{
  @media (max-width: 767px) {
    .form-one-line, .new-line-one-bt, .expand-div-desc{
      width: 100%;
    }
    .new-line-one-bt{
      padding: 0px 15px;
    }
    .expand-div-desc{
      margin-left: 0px;
      font-size: 14px;
    }
  }
}