.section-topBanner {
  display: none !important; }

@media (max-width: 767px) {
  .slider_main .item img {
    height: 45vh;
    object-fit: cover; } }
.section-quick .main-quick .sec_inner ul li a .ico_img img {
  max-width: 100%;
  height: auto;
  filter: grayscale(100%);
  transition: 0.15s; }
  .section-quick .main-quick .sec_inner ul li a .ico_img img:hover {
    filter: grayscale(0%);
    transition: 0.15s; }

body #features {
  font-size: 16px !important; }
  body #features .panel-default {
    border: none;
    margin-bottom: 20px;
    border-radius: 0px;
    box-shadow: none; }
    body #features .panel-default .panel-title a {
      display: block;
      padding: 20px 40px;
      font-size: 24px;
      color: #333;
      position: relative; }
      body #features .panel-default .panel-title a::before {
        position: absolute;
        top: 25px;
        right: 35px;
        content: "";
        width: 20px;
        height: 20px;
        background: url("../img/close.png");
        background-size: cover;
        transition: 0.2s; }
      body #features .panel-default .panel-title a[aria-expanded="true"]::before {
        transform: rotate(0deg); }
      body #features .panel-default .panel-title a[aria-expanded="false"]::before {
        transform: rotate(45deg); }
      @media (max-width: 767px) {
        body #features .panel-default .panel-title a {
          font-size: 18px;
          padding: 15px 45px 15px 15px; }
          body #features .panel-default .panel-title a::before {
            top: 18px;
            width: 15px;
            height: 15px;
            right: 15px; } }
    body #features .panel-default .panel-body-custom {
      padding: 20px 40px;
      font-size: 16px;
      color: #504f4f; }
      @media (max-width: 767px) {
        body #features .panel-default .panel-body-custom {
          padding: 15px; } }
body #gallery {
  font-size: 22px; }
  body #gallery .detail-maodian {
    background: #f8f8f8; }
    body #gallery .detail-maodian:hover {
      box-shadow: none !important; }
  body #gallery .gallery-pc-custom {
    text-align: center;
    display: inline-block !important;
    width: 100% !important;
    margin: auto;
    border: none;
    padding-top: 20px; }
    body #gallery .gallery-pc-custom li {
      float: none;
      display: inline-block;
      margin-bottom: 0px;
      padding: 0px 70px; }
      body #gallery .gallery-pc-custom li::after {
        position: absolute;
        content: "";
        width: 1px;
        height: 32px;
        background: #e0e0e0;
        right: 0px;
        top: 0px; }
      body #gallery .gallery-pc-custom li:first-child {
        padding-left: 0px; }
      body #gallery .gallery-pc-custom li:last-child {
        padding-right: 0px; }
        body #gallery .gallery-pc-custom li:last-child::after {
          display: none; }
      body #gallery .gallery-pc-custom li a {
        border: none;
        cursor: pointer;
        border-bottom: 2px solid transparent;
        padding: 0px 0px 15px 0px;
        color: #333; }
        body #gallery .gallery-pc-custom li a:hover, body #gallery .gallery-pc-custom li a:focus {
          background: #fff; }
      body #gallery .gallery-pc-custom li.active a {
        border-bottom: 2px solid red; }
  body #gallery .content-custom {
    margin-top: 20px;
    margin-bottom: 20px; }
    body #gallery .content-custom .slider-gallery .owl-nav .owl-prev, body #gallery .content-custom .slider-gallery .owl-nav .owl-next {
      background: rgba(255, 255, 255, 0.6);
      color: #000;
      border-radius: 0;
      width: 50px;
      height: 50px;
      line-height: 50px;
      font-size: 20px;
      opacity: 0; }
    body #gallery .content-custom .slider-gallery .owl-nav .owl-prev {
      left: 15px; }
    body #gallery .content-custom .slider-gallery .owl-nav .owl-next {
      right: 15px; }
    body #gallery .content-custom .slider-gallery:hover .owl-prev, body #gallery .content-custom .slider-gallery:hover .owl-next {
      opacity: 1; }
    body #gallery .content-custom .slider-gallery:hover .owl-prev {
      left: 0px; }
    body #gallery .content-custom .slider-gallery:hover .owl-next {
      right: 0px; }
  @media (max-width: 767px) {
    body #gallery {
      font-size: 13px; }
      body #gallery .gallery-pc-custom li {
        padding: 0px 15px; }
        body #gallery .gallery-pc-custom li::after {
          display: none; } }
body #formRequest .form-one-line {
  display: block; }
  body #formRequest .form-one-line input, body #formRequest .form-one-line select, body #formRequest .form-one-line textarea {
    height: 50px;
    font-size: 16px;
    border-radius: 0px;
    border: 1px solid #333;
    transition: 0.25s;
    background-color: #f8f8f8; }
    body #formRequest .form-one-line input:hover, body #formRequest .form-one-line input:focus, body #formRequest .form-one-line select:hover, body #formRequest .form-one-line select:focus, body #formRequest .form-one-line textarea:hover, body #formRequest .form-one-line textarea:focus {
      border-color: #c0c4cc; }
  body #formRequest .form-one-line textarea {
    height: inherit; }
  body #formRequest .form-one-line select {
    background: url(../img/br_down.png) no-repeat;
    background-size: 10px;
    -webkit-appearance: none;
    background-position-x: 95%;
    background-position-y: 44%; }
body #formRequest .el-button--primary:hover {
  background: #000 !important; }
body #formRequest .expand-div-desc, body #formRequest .expand-expand-desc {
  padding: 0px 5px; }
body #formRequest .expand-expand-desc img {
  margin-left: 5px;
  width: 8px;
  transform: rotate(90deg); }
body #formRequest .expand-div {
  display: none; }

@media (max-width: 767px) {
  .goods-warp .form-one-line, .goods-warp .new-line-one-bt, .goods-warp .expand-div-desc {
    width: 100%; }
  .goods-warp .new-line-one-bt {
    padding: 0px 15px; }
  .goods-warp .expand-div-desc {
    margin-left: 0px;
    font-size: 14px; } }

/*# sourceMappingURL=custom.css.map */
