/*包含以下四种的链接*/
a {
  text-decoration: none;
}

/*正常的未被访问过的链接*/
a:link {
  text-decoration: none;
}

/*已经访问过的链接*/
a:visited {
  text-decoration: none;
}

/*鼠标划过(停留)的链接*/
a:hover {
  text-decoration: none;
  cursor: pointer;
}

/* 正在点击的链接*/
a:active {
  text-decoration: none;
}

ul,
li {
  padding: 0;
  margin: 0;
  list-style: none
}

@font-face {
  font-family: 'Sanyzcg';
  src: url('../fonts/Sanyzcg-_regular_pro4.ttf');
}

* {
  padding: 0;
  margin: 0;
  /* transition: all .2s; */
  font-family: 'Sanyzcg', 'Helvetica Neue', Arial;
}

input,
select,
textarea,
label {
  font-family: 'Sanyzcg', 'Helvetica Neue', Arial;
}

/*.mobile-nav{line-height: 44px;}*/
@media only screen and (max-width: 700px) {
  .box-footer .mainfooter .font-6 {
    font-size: 14px !important;
  }
}

@media only screen and (min-width:701px) {
  .box-footer .mainfooter .font-6 {
    font-size: 14px !important;
  }

  /* 1920  24px */
  .box-footer .mainfooter .font-9 {
    font-size: 12px !important;
  }

  /* 1920  16px */
}

/* pc端 */
@media only screen and (min-width: 768px) {
  /*.box-footer .mainfooter .container{width: 750px!important;}*/
}

@media only screen and (min-width: 850px) {

  /*.box-footer .mainfooter .container{width: 850px!important;}*/
  .box-footer .mainfooter .font-6 {
    font-size: 16px !important;
  }

  /* 1920  24px */
  .box-footer .mainfooter .font-9 {
    font-size: 12px !important;
  }

  /* 1920  16px */
}

@media only screen and (min-width: 1024px) {
  .box-footer .mainfooter .font-6 {
    font-size: 16px !important;
  }

  /* 1920  24px */
  .box-footer .mainfooter .font-9 {
    font-size: 12px !important;
  }

  /* 1920  16px */
}

@media only screen and (min-width: 1280px) {
  .box-footer .mainfooter .font-6 {
    font-size: 16px !important;
  }

  /* 1920  24px */
  .box-footer .mainfooter .font-9 {
    font-size: 12px !important;
  }

  /* 1920  16px */
  /*.box-footer .mainfooter .container{width: 1170px!important;}*/
}

@media only screen and (min-width: 1440px) {
  .box-footer .mainfooter .font-6 {
    font-size: 20px !important;
  }

  .box-footer .mainfooter .font-9 {
    font-size: 16px !important;
  }

  /*.box-footer .mainfooter .container{width: 1200px!important;}*/
}

@media only screen and (min-width: 1910px) {
  .box-footer .mainfooter .font-6 {
    font-size: 22px !important;
  }

  /*24px*/
  .box-footer .mainfooter .font-9 {
    font-size: 16px !important;
  }

  /*.box-footer .mainfooter .container{width: 1440px!important;}*/
}

.head-footer .hidden-small {
  display: block !important;
}

/*pc端*/
.head-footer .visible-small {
  display: none !important;
}

/*手机端*/
@media only screen and (max-width: 992px) {
  .head-footer .hidden-small {
    display: none !important;
  }

  /*pc端*/
  .head-footer .visible-small {
    display: block !important;
  }

  /*手机端*/
}

.delay-02 {
  webkit-animation-delay: .2s !important;
  animation-delay: .2s !important;
}

.delay-03 {
  webkit-animation-delay: .3s !important;
  animation-delay: .3s !important;
}

.delay-04 {
  webkit-animation-delay: .4s !important;
  animation-delay: .4s !important;
}

.delay-05 {
  webkit-animation-delay: .5s !important;
  animation-delay: .5s !important;
}

.delay-06 {
  webkit-animation-delay: .6s !important;
  animation-delay: .6s !important;
}

.delay-07 {
  webkit-animation-delay: .7s !important;
  animation-delay: .7s !important;
}

.nav-product-container {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  opacity: 0;
  -webkit-animation: fadeIn 0.2s linear 0.3s forwards;
  animation: fadeIn 0.2s linear 0.3s forwards;
  z-index: 2;
  position: relative;
}

/*.nav .nav-main .nav-main-item:hover .nav-product-container{
	opacity: 1;
}*/
.nav-product-container .line {
  border-bottom: 1px solid #E0E0E0;
  margin: 10px 0;
}

.nav-product-container ul:after {
  content: "";
  display: block;
  clear: both;
}

.nav-product-container li {
  width: calc(25% - 1px);
  float: left;
  border-right: 1px solid #e0e0e0;
  height: 240px;
  line-height: 2;
  font-size: 14px;
}

.nav-product-container ul:last-child li {
  padding-top: 20px;
}

.nav-product-container li:last-child {
  border-right: 0;
}

.nav-product-container .nav-product-image {
  width: 120px;
  float: left;
  min-height: 2px;
}

.nav-product-container .nav-product-image img {
  max-width: 100%;
}

.nav-product-container .nav-product-text {
  width: 200px;
  float: left;
  margin-left: 10px;
}

.nav-product-container .nav-product-text h4 {
  margin-top: 0;
  white-space: nowrap;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 8px;
}

.nav-product-container .nav-product-text a {
  display: block;
  color: #333;
  white-space: nowrap;
  text-decoration: none;
}

.nav-product-container .nav-product-text a:hover {
  color: #e60012;
}

@media screen and (max-width: 1600px) and (min-width: 1441px) {
  .nav-product-container {
    transform: scale(0.9);
  }
}

@media screen and (max-width: 1440px) and (min-width: 1281px) {
  .nav-product-container {
    transform: scale(0.9);
  }
}

@media screen and (max-width: 1280px) and (min-width: 1025px) {
  .nav-product-container {
    transform: scale(0.9);
  }

  .nav-product-text h4 {
    font-size: 16px;
    font-weight: bold;
  }
}
@media screen and (max-width: 1160px) and (min-width: 994px){
  .s_copyright_w.container,.box-footer .s_footer_padding.container{
    width: 850px;
  }
}
.nav-common {
  position: absolute;
  left: 0;
  top: 80px;
  display: none;
  /*background: white;*/
}

.nav-common .nav-common-list {
  z-index: 2;
  position: relative;
  line-height: 42px;
  padding: 40px 30px 45px;
  width: 380px;
  transform-origin: top;
}

.nav-common .nav-common-animate {
  -webkit-animation: fadeIn 0.2s linear 0.2s forwards;
  animation: fadeIn 0.2s linear 0.2s forwards;
  opacity: 0;
}

.nav-common .nav-common-link {
  font-size: 16px;
  color: #333;
  position: relative;
  display: inline-block;
}

.nav-common .nav-common-link::after {
  content: "";
  background: #e60012;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  transition: all 0.3s;
}

.nav-common .nav-common-link:hover {
  color: #E60012;
  text-decoration: none;
}

.nav-common .nav-common-link:hover::after {
  content: "";
  width: 100%;
}

@media screen and (max-width: 1280px) {
  .nav-common .nav-common-list {
    padding: 40px 20px 45px;
  }
}

.mobile-nav {
  display: none;
  width: 100%;
  padding-bottom: 20px;
  /* padding-top: 44px; max-height: 100vh; overflow-y: scroll;*/
  position: fixed;
  z-index: 66;
  left: 0;
  top: 0;
  background: none;
  transition: all 0.4s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  /*transform: translate(0,-100%);*/
}

.mobile-link-content {
  display: none;
  padding-bottom: 64px;
  max-height: 100vh;
  overflow-y: scroll;
  position: relative;
  -webkit-animation: heightChange 0.5s;
  animation: heightChange 0.5s;
  transform-origin: top;
  background: #fff;
}

.nav-container-title {
  background: #fff;
}

.mobile-nav-title {
  border-bottom: 1px solid #f0f0f0;
  background: #fff;
  position: absolute;
  top: 0;
  left: 0;
}

.mobile-nav-title,
.mobile-nav-title a,
.mobile-nav-title span {
  height: 60px;
  display: flex;
  padding: 0 20px;
  align-items: center;
  justify-content: space-between;
}

.mobile-nav-title a,
.mobile-nav-title span {
  padding: 0;
}

.mobile-nav-title .logo {
  height: 31px;
  width: 120px;
}

.mobile-nav-title .close-btn img {
  width: 20px;
  height: 20px;
}

.mobile-link-list {
  padding: 50px 30px;
  color: #333;
  font-size: 14px;
  -webkit-animation: fadeIn 0.3s linear 0.3s forwards;
  animation: fadeIn 0.3s linear 0.3s forwards;
  opacity: 0;
}

.mobile-link-list.pb-0 {
  padding-bottom: 0;
}

.mobile-link-list:first-child {
  padding: 50px 30px 0 !important;
}

.mobile-link-list a {
  color: #333;
}

.mobile-link-list .mobile-link-title,
.mobile-link-list .mobile-child-link {
  display: block;
  line-height: 42px;
}

.mobile-link-list .mobile-link-title {
  display: flex;
  justify-content: space-between;
  font-weight: normal;
  align-items: center;
}

.mobile-link-list .mobile-link-item {
  border-bottom: 1px solid #f0f0f0;
}

.mobile-link-list .mobile-link-item span {
  padding: 12px 0 12px 24px;
  line-height: 0;
  /*height: 36px;*/
  display: block;
}

.mobile-link-list .mobile-link-title img {
  width: 16px;
}

.mobile-link-list .mobile-link-item .nav-close img {
  transform: rotate(45deg);
}

.mobile-link-list .mobile-link-item.current .nav-close img {
  transform: rotate(0deg);
}

.mobile-link-list .mobile-child-link {
  text-indent: 20px;
  font-size: 90%;
  padding-bottom: 15px;
  display: none;
  -webkit-animation: heightChange 0.3s;
  animation: heightChange 0.3s;
  transform-origin: top;
}

.mobile-link-list .mobile-link-item.current .mobile-child-link,
.mobile-link-list .mobile-child-link a {
  display: block;
}

.mobile-link-list .mobile-child-link a {
  -webkit-animation: fadeIn 0.3s cubic-bezier(0, 1.04, 1, 1) 0.2s forwards;
  animation: fadeIn 0.3s cubic-bezier(0, 1.04, 1, 1) 0.2s forwards;
  opacity: 0;
  font-size: 13px;
}

.inquiry-btn-mobile {
  -webkit-animation: fadeIn 0.2s cubic-bezier(0, 1.04, 1, 1) 0.2s forwards;
  animation: fadeIn 0.2s cubic-bezier(0, 1.04, 1, 1) 0.2s forwards;
  opacity: 0;
}

.mobile-nav .inquiry-btn-mobile a {
  width: 45vw;
  max-width: 350px;
  line-height: 60px;
  max-height: 60px;
  display: block;
  color: #1d1d1d;
  border: 1px solid #1d1d1d;
  font-size: 16px;
  margin: 0 auto;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .mobile-link-list {
    padding: 8vw 4vw 6.67vw;
  }

  .mobile-link-list:first-child {
    padding: 6.67vw 4vw 0 !important;
  }

  .mobile-link-list .mobile-child-link a {
    text-indent: 2vw;
  }

  .mobile-nav .inquiry-btn-mobile a {
    font-size: 15px;
    line-height: 40px;
  }

  .mobile-nav-title span {
    padding: 0 10px;
  }

  .mobile-nav-title .close-btn img {
    width: 15px;
    height: 15px;
  }
}

.mobile-nav-down {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  background: #fff;
  width: 100%;
}

.mobile-nav-down .nav-container-title,
.mobile-nav .nav-container-title {
  display: flex !important;
  justify-content: space-between;
  /*padding: 0 4vw;*/
  box-sizing: border-box;
  height: 60px;
  /*padding-bottom: 1vw;*/
  /*position: absolute; top: 0; left: 0; */
  width: 100%;
}

.nav-container-title {
  border-bottom: 1px solid #eee;
}

.nav-container-title .logo {
  width: 120px;
  height: 59px;
  margin-left: 4vw;
  /*padding: 14px 0;*/
}

.nav-container-title .close-btn-m img {
  width: 18px;
  height: 18px;
  margin-top: 21px;
}

.mobile-nav .nav-container-title .close-btn-m {
  display: none;
  margin-right: 4vw;
}

.mobile-nav .nav-container-title .close-btn-m img {
  margin-top: 12px;
  display: inline-block;
  vertical-align: middle;
}

body {
  position: static;
  height: auto;
  overflow: auto;
  padding-right: 0px;
}

/*pc*/
.nav-body {
  font-size: 0;
  position: relative;
  z-index: 9999;
}

.head-footer .nav-body .hidden-1024 {
  display: inline-block !important;
}

.nav-body .mask {
  display: none;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  -webkit-animation: fadeIn 0.2s linear;
  animation: fadeIn 0.2s linear;
}

.nav {
  width: 100%;
  background: #fff;
  border-bottom: 1px solid #f8f8f8;
  position: relative;
  z-index: 2;
  transition: all 0.3s;
}

.nav:hover {
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
}

.nav.fixed {
  position: fixed;
  left: 0;
  top: 0;
}

.nav .nav-container {
  height: 80px;
  /*width: 100%;*/
  max-width: 1400px;
  margin: 0 auto;
  position: relative;
}

.nav .nav-container .logo-img,
.nav .nav-container .nav-main-item .nav-main-link {
  position: relative;
  overflow: hidden;
  height: 80px;
  display: block;
}

.nav .nav-container .logo-img {
  float: left;
}

.nav .nav-container .animate__slideInUp {
  -webkit-animation: fadeInUp 0.2s cubic-bezier(0, 0.62, 0.54, 1) forwards;
  animation: fadeInUp 0.2s cubic-bezier(0, 0.62, 0.54, 1) forwards;
  opacity: 0;
}

.nav .logo {
  width: 132px;
  height: 80px;
  float: left;
  /*padding: 20px 0;*/
}

.nav .nav-main {
  width: 750px;
  margin: 0 auto;
  line-height: 80px;
  height: 80px;
  font-size: 18px;
  position: relative;
}

.nav .nav-main .nav-main-link {
  color: #333;
  display: block;
  padding: 0 30px;
}

.nav .nav-main .nav-main-link span {
  position: relative;
  display: block;
}

.nav .nav-main .nav-main-link span::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 0;
  left: 0;
  height: 3px;
  background: #e60012;
  transition: all 0.2s;
}

.relative {
  position: relative;
}

.nav .nav-main .nav-main-item {
  display: inline-block;
}

.nav .nav-main .nav-main-item:hover {
  text-decoration: none;
}

.nav .nav-main .nav-main-item:hover .nav-main-link{
  color: #E60012;
  text-decoration: none;
}
.nav .nav-main .nav-main-item:hover .nav-main-link span::after{
  width: 100%;
}
.nav .nav-main .nav-main-item:hover .nav-child{
  display: block;
}

.nav .nav-main .nav-main-item:first-child:hover::before {
  content: "";
  position: absolute;
  right: 100%;
  top: 0;
  height: 80px;
  width: 9vw;
}

.nav .nav-product {
  position: absolute;
  left: -50vw;
  margin-left: 375px;
  top: 80px;
  width: 100vw;
  /*background: #fff;*/
  padding: 50px 0;
  display: none;
}

.nav .nav-product::before {
  content: "";
  position: absolute;
  top: 0;
  background: #fff;
  left: 0;
  height: 1px;
  background: #f6f6f6;
  width: 100%;
  z-index: 6;
}

.nav .nav-product::after {
  content: '';
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  transition: all 0.3s;
  transform-origin: top;
  -webkit-animation: heightChange 0.3s linear;
  animation: heightChange 0.3s linear;
}

.nav .nav-common-bkg {
  position: absolute;
  transform-origin: top;
  -webkit-animation: heightChange 0.3s linear;
  animation: heightChange 0.3s linear;
  z-index: 1;
  width: 750px;
  left: 0;
  top: 80px;
  height: 245px;
  background: #fff;
  /*padding: 50px 0;*/
  display: none;
}

/*.nav .nav-main .nav-main-item:hover + .nav-common-bkg{display: block!important;}*/
.nav .nav-common-bkg::before {
  content: "";
  position: absolute;
  top: 0;
  background: #fff;
  left: 0;
  height: 1px;
  background: #f6f6f6;
  width: 100%;
}

.nav .other-nav {
  text-align: right;
  width: 260px;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(0, -50%);
}

.nav .other-nav ul {
  margin-bottom: 0;
}

.nav .other-nav li {
  display: inline-block;
  padding: 20px 0;
  padding-left: 58px;
  cursor: pointer;
}

.nav .other-nav li img {
  vertical-align: middle;
  display: inline-block;
  width: 24px;
  height: 24px;
}

.nav .other-nav .global-link {
  display: none;
  position: absolute;
  top: 20px;
  left: 50%;
  width: 90px;
  margin-left: -15px;
  padding-top: 70px;
}

.nav .other-nav .global-link::after {
  content: "";
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translate(-50%, 0);
  border-top: 10px solid transparent;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 10px solid #fff;
}

.nav .other-nav .global-link .global-link-warp {
  box-sizing: border-box;
  width: 200px;
  /*width: 136px;*/
  margin-left: -55px;
  -webkit-animation: heightChange 0.2s linear;
  animation: heightChange 0.2s linear;
  transform-origin: top;
  text-align: left;
  line-height: 42px;
  padding: 32px;
  font-size: 16px;
  background: #fff;
}

.nav .other-nav .global-link .global-link-warp a {
  color: #333;
  display: block;
  opacity: 0;
  -webkit-animation: fadeIn 0.3s linear 0.2s forwards;
  animation: fadeIn 0.3s linear 0.2s forwards;
}

.nav .other-nav .global-link .global-link-warp a:hover {
  color: #e60012;
  text-decoration: none;
}

.nav .other-nav .global-link .global-link-warp a span {
  display: inline-block;
  position: relative;
}

.nav .other-nav .global-link .global-link-warp a span::after {
  content: "";
  position: absolute;
  bottom: 0;
  transition: all 0.2s;
  height: 2px;
  width: 0;
  left: 0;
  background: #e60012;
}

.nav .other-nav .global-link .global-link-warp a:hover span::after {
  width: 100%;
}

.nav .other-nav li:hover .child-nav {
  display: block;
}

.fixed-container {
  padding-top: 80px;
}

.search-nav {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 80px;
  background: #fff;
  z-index: 2;
}

.search-nav .search-nav-warp {
  width: 750px;
  margin: 22px auto;
  height: 36px;
}

.search-nav .search-nav-warp .search-icon {
  position: absolute;
  left: 0;
  top: 0;
  width: 24px;
  height: 24px;
  margin: 6px 0;
  -webkit-animation: fadeInRight 0.3s linear forwards;
  animation: fadeInRight 0.3s linear forwards;
}

.search-nav .search-nav-warp .input-warp {
  width: 682px;
  overflow: hidden;
  position: relative;
  height: 36px;
  margin: 0 auto;
}

.search-nav .search-nav-warp input {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  height: 36px;
  border: none;
  outline: none;
  display: block;
  line-height: 32px;
  padding: 2px 4px;
  border-bottom: 1px solid #D9D9D9;
  font-size: 20px;
  color: #333;
  -webkit-animation: fadeInRight 0.3s cubic-bezier(0.13, 0.99, 1, 1) forwards;
  animation: fadeInRight 0.3s cubic-bezier(0.13, 0.99, 1, 1) forwards;
  /*transform: translate(-100%, 0);*/
}

.search-nav .search-nav-warp .close-btn {
  width: 28px;
  padding: 4px;
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -10px;
  transition: all 0.4s;
}

.search-nav .search-nav-warp .close-btn img {
  width: 20px;
  height: 20px;
}

.search-nav .search-nav-warp .close-btn:hover {
  transform: rotate(90deg);
}

.search-nav .search-nav-warp .close-btn-m {
  width: 15px;
  height: 15px;
}

.search-nav .search-content {
  box-sizing: border-box;
  padding: 30px 40px;
  position: absolute;
  top: 58px;
  left: 0;
  width: 100%;
  background: #fff;
  font-size: 16px;
  border-top: 1px solid #f8f8f8;
  -webkit-animation: heightChange 0.3s linear 0.1s;
  animation: heightChange 0.3s linear 0.1s;
  transform-origin: top center;
}

.search-nav .search-content-warp {
  -webkit-animation: fadeIn 0.2s linear 0.4s forwards;
  animation: fadeIn 0.2s linear 0.4s forwards;
  /*beizhu*/
  opacity: 0;
}

.search-nav .search-recommond-title {
  color: #A0A0A0;
  margin-bottom: 6px;
  margin-top: 20px;
  display: none;
}

.search-nav .search-recommond-links li {
  line-height: 42px;
  padding-left: 40px;
}

.search-nav .search-recommond-links li a {
  display: inline-block;
  position: relative;
  color: #333;
  text-decoration: none;
}

.search-nav .search-recommond-links li a:hover {
  color: #E60012;
}

.search-nav .search-recommond-links li a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background: #e60012;
  transition: all 0.2s;
}

.search-nav .search-recommond-links li a:hover::after {
  width: 100%;
}

@media screen and (min-width: 1281px) and (max-width: 1440px) {
  .nav .nav-container {
    max-width: 1200px;
  }
}

@media screen and (max-width: 1340px) {
  .nav .other-nav .global-link {
    margin-left: -35px;
  }

  .nav .other-nav .global-link::after {
    margin-left: 10px;
  }

  .nav .other-nav .global-link .global-link-warp {
    margin-left: -96px;
  }
}

@media screen and (min-width:1025px) {
  .top-seat {
    height: 80px;
    width: 100%;
  }
}

.head-footer .hidden-1024 {
  display: block !important
}

.head-footer .visible-1024 {
  display: none !important;
}
@media screen and (max-width:1024px){
  .head-footer .nav-body .hidden-1024 {
    display: none !important;
  }

  .head-footer .nav-body .visible-1024 {
    display: inline-block !important;
  }

  .head-footer .product-main-detail .visible-1024 {
    display: inline-block !important;
    vertical-align: middle;
  }

  .head-footer .hidden-1024 {
    display: none!important;
  }

  .head-footer .visible-1024 {
    display: block !important;
  }
  .close-btn-m {
    width: 20px;
    float: right;
    margin-top: 8px;
    margin-right: 0px;
  }
  .mobile-nav .nav-container-title .close-btn-m {
    margin-top: 8px;
  }
  .mobile-link-list:first-child {
    padding: 8vw 4vw 0 !important;
  }
  .mobile-link-list {
    padding: 8vw 4vw 6.67vw !important;
  }
}
/*将1024改成了768*/
@media screen and (max-width:768px) {
  .top-seat {
    height: 60px;
    width: 100%;
  }

  .fixed-container {
    padding-top: 60px;
  }

  .nav .logo {
    width: 120px;
    height: 59px;
    padding: 14px 0;
  }

  .nav .logo.animate__slideInUp {
    animation: none;
    opacity: 1;
  }

  .nav .nav-container {
    padding: 0 4vw;
    height: 60px;
  }

  .nav .nav-container .logo-img,
  .nav .nav-container .nav-main-item .nav-main-link {
    height: 60px;
  }

  .nav .nav-container .animate__slideInUp {
    animation-delay: 0 !important;
  }

  .nav .nav-main {
    display: none;
  }

  .nav .other-nav {
    right: 4vw;
    width: 110px;
  }

  .nav .other-nav li {
    padding-left: 20px;
  }

  /* .head-footer .nav-body .hidden-1024 {
    display: none !important;
  }

  .head-footer .nav-body .visible-1024 {
    display: inline-block !important;
  }

  .head-footer .product-main-detail .visible-1024 {
    display: inline-block !important;
    vertical-align: middle;
  }

  .head-footer .hidden-1024 {
    display: none!important;
  }

  .head-footer .visible-1024 {
    display: block !important;
  } */

  /* .fixed-container{padding-top: 44px;}
    .nav .nav-container,.nav .nav-container .logo-img, .nav .nav-container .nav-main-item .nav-main-link,.nav .logo{height: 44px;}
    .nav .logo{width: 110px; padding: 10px 0 9px; } */
  .nav .other-nav li {
    padding: 11px 0;
    padding-left: 30px;
  }

  .search-nav {
    /*position: absolute;*/
    top: 0;
    left: 0;
    background: #fff;
  }

  .search-nav::before {
    width: 100%;
    height: 1px;
    background: #f0f0f0;
    position: absolute;
    left: 0;
    top: 0;
    content: '';
  }

  .search-nav .logo {
    width: 120px;
    height: 59px;
    padding: 14px 0;
  }

  .nav-container-search {
    display: flex !important;
    justify-content: space-between;
    padding: 0 4vw;
    height: 60px;
    width: 100%;
    padding-bottom: 1vw;
    background: #fff;
  }

  .close-btn-m {
    width: 20px;
    float: right;
    margin-top: 8px;
    margin-right: 0px;
  }
  .mobile-nav .nav-container-title .close-btn-m {
    margin-top: 8px;
  }
  .search-nav .close-btn {
    display: none;
  }

  .search-nav .search-nav-warp .search-icon {
    z-index: 2;
    position: static;
    width: 18px;
    transform: translate(0, -50%);
  }

  .search-nav .search-nav-warp {
    margin: 0;
    padding: 0 4vw;
    width: 100%;
    display: flex;
    padding-bottom: 1vw;
    background: #fff;
  }

  .search-nav .search-nav-warp .input-warp {
    width: 100%;
    z-index: 1;
    background: #fff;
  }

  .search-nav .search-nav-warp input {
    font-size: 16px;
    border-radius: 0;
    border-bottom: none;
    left: 1vw;
    top: 0px;
    height: 36px;
    line-height: 36px;
    padding: 0 4px;
  }
	.search-nav .search-recommond-buttons{
		margin-left: calc(18px + 1vw);
	}
  .search-nav .search-content {
    padding: 10px 5% 20px;
    top: 36px;
  }

  .search-nav .search-recommond-links li {
    line-height: 22px;
    padding: 6px 0 6px 20px;
  }

  .search-nav .search-recommond-links li a {
    font-size: 14px;
  }

  .search-nav .close-btn-m img {
    width: 18px;
    height: 18px;
    margin-top: 21px;
  }

  .nav .other-nav li img {
    width: 18px;
    height: 18px;
  }

  .nav .other-nav li img.mobile-menu-icon {
    width: 22px;
    height: 22px;
  }

  .nav .other-nav .animate__slideInUp {
    animation: none;
    opacity: 1;
  }

  .hamburg {
    width: 22px;
    height: 22px;
    animation: none;
    opacity: 1;
  }

  .mobile-link-list {
    padding: 30px 30px;
  }

  .mobile-link-list:first-child {
    padding: 30px 30px 0 !important;
  }

  .mobile-link-list .mobile-link-title img {
    width: 11px;
  }
}
.search-recommond-buttons{overflow: hidden;margin-top: -10px;margin-left: -6px;}
.search-recommond-buttons div{cursor: pointer;padding: 5px 8px;font-size: 16px;color: #1d1d1d;float: left;margin-right: 30px;}
.search-recommond-buttons div.active{background: #e0e0e0;}
@media screen and (max-width:768px) {
	.search-nav .search-recommond-buttons{margin-top: 0px;}
  .search-nav .close-btn-m img {
    margin-top: 10px;
  }

  .mobile-link-list .mobile-link-title img {
    width: 11px;
  }

  .mobile-link-list {
    padding: 8vw 4vw 6.67vw !important;
  }

  .mobile-link-list:first-child {
    padding: 8vw 4vw 0 !important;
  }

  .mobile-nav .inquiry-btn-mobile a {
    font-size: 15px;
    line-height: 40px;
  }
}

@media screen and (max-width: 1380px) {
  .nav-product-image {
    display: none;
  }
}

@media screen and (max-width: 1280px) and (min-width:1025px) {
  .nav-container {
    padding: 0 20px;
  }

  .nav .other-nav {
    right: 20px;
  }

  .nav .nav-product {
    margin-left: 320px;
  }

  .nav .logo {
    margin-right: 70px;
  }

  .nav .nav-main {
    width: 656px;
  }

  .nav .nav-main .nav-main-link {
    padding: 0 20px;
  }

  .nav .other-nav li {
    padding-left: 40px;
  }

  .nav .nav-common-bkg {
    width: 640px;
  }
}

.hamburg {
  width: 22px;
  height: 22px;
  animation: none;
  opacity: 1;
  margin-top: 19px;
  float: right;
  margin-right: 4vw;
}

.phone-search {
  width: 18px;
  height: 18px;
  float: right;
  margin-right: 30px;
  margin-top: 21px;
}

.openitemImg {
  transform: rotate(0deg) !important;
}

@keyframes heightChange {
  0% {
    transform: scale(1, 0);
  }

  100% {
    transform: scale(1);
  }
}

@-webkit-keyframes heightChange {
  0% {
    transform: scale(1, 0);
  }

  100% {
    transform: scale(1);
  }
}


/*网站底部的样式*/
.title_a {
  color: white !important;
  text-decoration: none !important;
}

.title_a:hover {
  color: white !important;
  text-decoration: none !important;
}

.title_a:focus {
  color: white !important;
  text-decoration: none !important;
}

.box-footer{position: relative; z-index: 666;}

.box-footer .mainfooter {
  background: #191F22 !important;
}

.box-footer .s_footer_cont {
  background: #191F22 !important;
}

.box-footer .s_footer_padding {
  padding-top: 60px !important;
  padding-bottom: 30px !important;
  border-bottom: 0.5px solid #A0A0A0 !important;
  overflow: hidden;
}

@media (min-width: 992px) {
  .s_footer_infor {
    width: 15.66%;
  }

  .s_footer_infor-top {
    width: 19.66% !important;
  }
}

.s_footer_infor h3 {
  margin-top: 0 !important;
  margin-bottom: 15px !important;
  color: #fff !important;
  font-family: Helvetica Neue !important;
  font-weight: 500 !important;
  cursor: pointer !important;
}

.s_footer_list {
  padding: 0 !important;
  line-height: 24px !important;
}

.s_footer_list li {
  list-style: none !important;
  margin-bottom: 0 !important;
}

.s_footer_list li a {
  color: #A5A5A5 !important;
  font-weight: 400 !important;
}

.s_footer_list li a:hover {
  text-decoration: none!important;
  color: #fff !important;
}

.s_copyright {
  padding: 22px 0 !important;
  /* height: 75px; */
  line-height: 30px !important;
  background: #191F22 !important;
  height: auto !important;
}

.s_copyright::after {
  content: "" !important;
  display: block !important;
  clear: both !important;
}

.s_copyright_w {
  /* font-size: 12px; */
  color: #707070 !important;
  text-align: center !important;
}

.follow-us {
  float: right !important;
  width: 25% !important;
  text-align: left !important;
  vertical-align: middle !important;
}

.follow-us span {
  float: left !important;
  /* margin: 0px 15px; */
  color: #FFFFFF !important;
  color: #a5a5a5 !important;
}

.follow-us a {
  width: 13px !important;
  margin-left: 15px !important;
  display: inline-block !important;
  vertical-align: middle !important;
}

.follow-us img {
  width: 20px !important;
  height: 20px !important;
  vertical-align: middle !important;
  margin-bottom: 2px !important;
}

.s_footer_share {
  float: left !important;
}

.s_copyright_logo {
  width: 25% !important;
  float: left !important;
  text-align: left !important;
}

.s_copyright_logo img {
  width: 110px !important;
}

.s_copyright_w p {
  display: inline-block !important;
  width: calc(50% - 8px) !important;
  text-align: left !important;
  padding-left: 8px !important;
  margin-bottom: 0 !important;
  color: #A5A5A5 !important;
}
.s_copyright_w p a{color: #A5A5A5 !important;}
.s_copyright_w p a:hover{
  text-decoration: none!important;
  color: #fff !important;
}
.s_footer_share li {
  list-style: none !important;
  float: left !important;
  width: 30px !important;
  height: 30px !important;
  margin-right: 10px !important;
}

.s_footer_share li:last-child {
  margin-right: 0 !important;
}

.s_footer_share li a {
  display: inline-block !important;
  width: 22px !important;
  height: 22px !important;
  text-align: center !important;
  line-height: 34px !important;
  border-radius: 15px !important;
}

.s_footer_share li a span {
  color: #fff !important;
}

.s_footer_share li a:hover {
  text-decoration: none !important;
}


/* 手机端底部样式 */
.phone-footer {
  background: #191F22 !important;
  padding: 15px 0 !important;
  padding-bottom: 25px!important;
}

.phone-footer-line {
  border-bottom: 1px solid rgba(227, 227, 227, 0.6) !important;
  font-size: 14px !important;
  color: #FFFFFF !important;
  margin: 0px 20px !important;
  padding: 13px 0 !important;
  display: flex !important;
  justify-content: space-between !important;
}

.request-btn {
  font-size: 14px !important;
  color: #E3E3E3 !important;
  width: 167px !important;
  text-align: center !important;
  padding: 10px 0px !important;
  border: 1px solid rgba(227, 227, 227, 0.6) !important;
  margin: 47px auto 55px auto !important;
}

.phone-footer-line img {
  width: 7px !important;
  height: 12px !important;
  margin-top: 4px !important;
}

.request-btn a {
  color: rgba(227, 227, 227, 0.6) !important;
}

.thour-icons {
  margin: 54px 0 24px 0 !important;
  text-align: center !important;
}

.thour-icons .thour-icons-center {
  width: 290px !important;
  margin: 0 auto !important;
  display: flex !important;
  justify-content: space-between !important;
}

.thour-icons img:nth-of-type(1) {
  width: 23px !important;
  height: 23px !important;
}

.thour-icons img:nth-of-type(2) {
  width: 11px !important;
  height: 23px !important;
}

.thour-icons img:nth-of-type(3) {
  width: 29px !important;
  height: 23px !important;
}

.thour-icons img:nth-of-type(4) {
  width: 24px !important;
  height: 23px !important;
}

.phone-footer-desc {
  color: rgba(227, 227, 227, 0.6) !important;
  font-size: 11px !important;
  text-align: center !important;
}
.phone-footer-desc a{ color: rgba(227, 227, 227, 0.6) !important; }
.phone-footer-desc a:hover,
.phone-footer-desc a:active, 
.phone-footer-desc a:visited, 
.phone-footer-desc a:focus{ color: #fff !important; }
.ie-class .nav .other-nav .global-link .global-link-warp{animation: none;}
.ie-class .nav .other-nav .global-link .global-link-warp a {opacity: 1; animation: none;}
@media only screen and (min-width: 1280px) {
  .follow-us a {
    width: 20px !important;
    margin-left: 20px !important;
  }
}

@media only screen and (min-width: 1440px) {
  .s_footer_list {
    line-height: 32px !important;
  }

  .s_copyright {
    padding: 35px 0 !important;
    height: auto !important;
  }

  .s_footer_share li {
    margin-right: 15px !important;
  }
}

@media only screen and (min-width: 1025px) {
  .nav-body {height: 80px;}
}