.uiWeb{
	transition: all 0s!important;
}
.section-topBanner{
	width: 100%;
	height: 0;
	padding-bottom: 43.75%;
	position: relative;
	z-index: 1;
}
.section-topBanner .main_keyvisual{position: absolute; top: 0; left: 0; width: 100%; height: 100%;}
.section-topBanner .main_keyvisual .sec_inner{
    overflow: hidden;
    margin: 0 auto;
	position: absolute;
	height: 100%;
	width: 100%;
}
.section-topBanner .container-relative{
	position: relative;
	width: 100%;
	/* height: 90vh; */
	overflow: hidden;
}
.section-topBanner .main_keyvisual .sec_inner .gallery_item video{
	/*width: 100%;
	height: auto;*/
	position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: auto;
    /*max-height: none;
    max-width: none;
    min-height: 100%;
    min-width: 100%;*/
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    background: white;
}
.section-topBanner .main_keyvisual .sec_inner .main_carousel{
	width: 100%;
	position: absolute;
	bottom: 50px;
	left: 0;
}
.section-topBanner .main_keyvisual .sec_inner .main_carousel .carousel_inner{
	display: inline-block;
	vertical-align: top;
}
.section-topBanner .main_keyvisual .sec_inner .main_carousel .carousel_inner a{
	position: relative;
    display: inline-block;
    width: 80px;
    height: 4px;
    background-color: rgba(255,255,255,0.55);
    margin-right: 6px;
    z-index: 3;
    cursor: pointer;
}
.section-topBanner .main_keyvisual .carousel_inner a .process1{
	/*content: "";*/
    position: absolute;
    top: -25px;
    left: 0;
    width: 100%;
    height: 50px;
}
.section-topBanner .main_keyvisual .carousel_inner a .process2{
	/*content: "";*/
    display: block;
    width: 0;
    height: 100%;
	background-color: #fff;
	transition-property: none;
}
.section-topBanner .main_keyvisual .carousel_inner a.on .process2{width: 100%;transition-property: all;}
.section-topBanner .main_keyvisual .btn_playStop{
	position: relative;
    display: inline-block;
    width: 24px;
    height: 24px;
    top: -3px;
    left: 6px;
    z-index: 2;
    cursor: pointer;
}
.section-topBanner .main_keyvisual .btn_playStop .btn1{
	/*content: "";*/
    position: relative;
    width: 100%;
    height: 100%;
    display: block;
    background: url('https://sanyglobal-img.sany.com.cn/static/img/index/video_pause.png') no-repeat 0 0 / contain;
}
.section-topBanner .main_keyvisual .btn_playStop .btn2{
    /*content: "";*/
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    background: url('https://sanyglobal-img.sany.com.cn/static/img/index/video_play.png') no-repeat 0 0 / contain;
    display: none;
}

.section-topBanner .main_keyvisual .sec_inner .gallery_item{
	visibility: hidden;
    opacity: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.section-topBanner .main_keyvisual .sec_inner .gallery_item.on{
	visibility: visible;
    opacity: 1;
}
.section-topBanner .main_keyvisual .sec_inner .gallery_item .bg_box{
	/*width: 0;*/
	width: 100%;
    /*transition: width 1s 0.3s cubic-bezier(.39,0,.12,.99);*/
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    overflow: hidden;
    /*background-color: rgba(0,0,0,0.1);*/
}
.section-topBanner .main_keyvisual .sec_inner .gallery_item.on  .bg_box{
	width: 100%;
}
.section-topBanner .main_keyvisual .sec_inner .gallery_item .bg_box .box_img{
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /*transform: scale(1.2);*/
    transition: transform 1.5s;
    transform-origin: 100% 50%;
}
.section-topBanner .main_keyvisual .sec_inner .gallery_item.on .bg_box .box_img{
	/*transform: scale(1);*/
}
.section-topBanner .main_keyvisual .video_area{position: absolute; top: 0; left: 0; width: 100%; height: 100%;}
.section-topBanner .main_keyvisual .sec_inner .gallery_item.on .bg_box .box_img .video_area:before{
	content: '';
	position: absolute;
    top: 0;
    left: 0;
    width: calc(100% + 16px);
    height: 100%;
    /*background: rgba(0,0,0,.1);*/
    z-index: 1;
}
.section-topBanner .main_keyvisual .sec_inner .gallery_item .title{
	transform: translate(0%, 50px);
    opacity: 0;
    transition: all 0.8s 0.7s;
    word-break: break-all;
    font-size: 7.0rem;
    line-height: 7.2rem;
    color: #fff;
    margin-top: 200px;
    transition: transform .8s;
    font-weight: bold;
    padding-left: 2px;
}
.section-topBanner .main_keyvisual .sec_inner .gallery_item.on .title{
	transform: translate(0%, 0);
    opacity: 1;
}

.section-quick{
	background: white;
}
.section-quick .main-quick{
	transform: translate(0,112px);
    opacity: 0;
    margin: 0 auto;
    max-width: 1400px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.section-quick .start_in{
	transform: translate(0,0);
    opacity: 1;
    transition: transform 1s, opacity 1s;
    transition-delay: 0.65s;
}
.section-quick .main-quick .sec_inner{
	position: relative;
}
.section-quick .main-quick .sec_inner ul{
	font-size: 0;
}
.section-quick .main-quick .sec_inner ul li{
	width: 33.333%;
    display: inline-block;
    vertical-align: middle;
}
.section-quick .main-quick .sec_inner ul li a{
	display: block;
    width: 100%;
    height: 150px;
    line-height: 150px;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.section-quick .main-quick .sec_inner ul li a .ico_img{
	display: inline-block;
    vertical-align: middle;
    position: relative;
    margin-right: 25px;
}
.section-quick .main-quick .sec_inner ul li a .ico_img img{
	display: inline-block;
    vertical-align: middle;
    width: 10rem;
    -webkit-transition: opacity 0.1s;
    -moz-transition: opacity 0.1s;
    -ms-transition: opacity 0.1s;
    -o-transition: opacity 0.1s;
    transition: opacity 0.1s;
}
.section-quick .main-quick .sec_inner ul li a .ico_img img.on{
	/*position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);*/
    opacity: 0;
    display: none;
}
.section-quick .main-quick .sec_inner ul li .txt{
	display: inline-block;
    position: relative;
    vertical-align: middle;
}
.section-quick .main-quick .sec_inner ul li .txt .title{
	font-size: 2.4rem;
    -webkit-transition: color 0.3s;
    -moz-transition: color 0.3s;
    -ms-transition: color 0.3s;
    -o-transition: color 0.3s;
    transition: color 0.3s;
    color: #3E3E3E;
}
.section-quick .main-quick .sec_inner ul li:hover .ico_img .off{
	opacity: 0;
    display: none;
}
.section-quick .main-quick .sec_inner ul li:hover .ico_img .on{
	opacity: 1;
    display: block;
}
.section-quick .main-quick .sec_inner ul li:hover .txt .title{
	color: #E60012;
}


.section-news{
	background: #F8F8F8;
	padding: 10rem 0 20rem 0;
	display: none;
}
.section-news .inner-wrap{
	width: calc(100% - 100px);
	max-width: 1400px;
	margin: 0 auto;
}
.section-news .tit-area{
	position: relative;
	font-size: 5.4rem;
	color: #000000;
	font-weight: bold;
	line-height: 4.2rem;
	margin-bottom: 5rem;
}
.section-news .tit-area span{
	display: inline-block;
	width: 100%;
	text-align: center;
}
.section-news .icon_arrow_r{
	display: block;
    width: 38px;
    height: 16px;
    background: url('https://sanyglobal-img.sany.com.cn/static/img/index/red-arrow.svg') no-repeat 0 center;
    background-size: 100% auto;
    position: absolute;
    right: 0;
    bottom: -6rem;
    padding: 15px 0;
}
.section-news .read-more{
	font-size: 17px;
	color: #0064D9;
	text-align: center;
	margin-top: 7px;
}
.section-news .solution-wrap{
	overflow: hidden;
}
.section-news .article{
	position: relative;
    float: left;
    width: calc(16.4% - 20px);
    height: 450px;
    background-size: auto 450px!important;
    background-position:center center;
    background-repeat:no-repeat;
    text-align: center;
    color: #fff;
    background-repeat: no-repeat;
    transition-duration: 1s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    /*background-repeat: no-repeat;*/
}
.section-news .article.on, .section-news .article:hover{
	width: 50.7%;
    text-align: left;
    background-position: 0 !important;
    display: block;
}
.section-news .article.solution1{
	margin-top: 31px;
    /*background-image: url('https://sanyglobal-img.sany.com.cn/static/img/index/new-1.png');*/
}
.section-news .article.solution2{
	margin-top: 71px;
    /*background-image: url('https://sanyglobal-img.sany.com.cn/static/img/index/new-2.png');*/
}
.section-news .article.solution3{
	/*background-image: url('https://sanyglobal-img.sany.com.cn/static/img/index/new-3.png');*/
}
.section-news .article.solution4{
	margin-top: 56px;
    /*background-image: url('https://sanyglobal-img.sany.com.cn/static/img/index/new-4.png');*/
}
.section-news .article .inner{
	position: relative;
    margin: 7px;
}
.section-news .article::before{
	content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,0.4);
    z-index: 0;
    opacity: 1;
    transition-duration: .3s;
}
.section-news .article.on::before, .section-news .article:hover::before{
	background-image: linear-gradient(to right, rgba(0,0,0,0.4),rgba(0,0,0,0));
}
.section-news .article .inner{
	position: relative;
    margin: 7px;
}
/*.section-news .article.on .inner, .section-news .article:hover .inner{
	margin: 70px 40px 0;
	width: 60%;
}*/
.section-news .article .tit{
	line-height: 1.5;
    font-size: 2rem;
    transition-duration: .1s;
    transition-delay: .1s;
    color: #FFFFFF;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    padding-left: 2px;
}
.section-news .article .time{
	line-height: 3;
    font-size: 1.4rem;
	color: #E0E0E0;
	padding-left: 2px;
}
.section-news .article .desc{
	line-height: 2;
    font-size: 1.4rem;
	color: #FFFFFF;
	overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    padding-left: 2px;
}
.section-news .article .btn-more{
	display: inline-block;
    margin-top: 30px;
    padding: 15px 70px;
    /*color: #fff;
    background-color: #E60012;*/
    font-size: 2rem;
    margin-left: 2px;
}
.section-news .article .btn-more em{
	font-style: normal;
}
.section-news .article .time,.section-news .article .desc{
	display: none;
}
.section-news .article .btn-more{
	color: rgba(0,0,0,0);
    background: rgba(0,0,0,0);
    transition-delay: .5s;
}
.section-news .article.on .btn-more{
	transition-delay: .5s;
	color: #fff;
    background-color: #E60012;
}
.section-news .article.on .time,.section-news .article.on .desc{
	display: block;
}
.section-news .article + .article{
	margin-left: 20px;
}
.section-news .over-line{
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 4;
	overflow: hidden;
	padding-left: 2px;
}

.section-develop_area{
	display: block;
    width: 100%;
    margin: 0px auto;
    position: relative;
}
.section-develop_area .develop_con{
	/*max-width: 1240px;*/
    margin: 0 auto;
    position: relative;
}
.section-develop_area .develop_con .dev-con{
	position: relative;
    top: 0;
    left: 0;
    height: 0;
    padding-bottom: 52%;
}
.section-develop_area .develop_details{
	display: block;
    width: 100%;
    max-width: 450px;
    position: absolute;
    left: 0%;
    top: 16%;
    z-index: 1;
}
.section-develop_area .develop_details .tit{
	display: block;
    color: #2a2e2e;
    width: 100%;
    max-width: 450px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: 3.6rem;
    margin-bottom: 20px;
    padding-left: 1px;
}
.section-develop_area .develop_con_phone .tit,.section-develop_area .develop_con_phone .develop_details{
	width: 100%;
	max-width: 100%;
}
.section-develop_area .develop_details .icon_arrow_r{
	display: block;
    width: 38px;
    height: 16px;
    background: url('https://sanyglobal-img.sany.com.cn/static/img/index/red-arrow.svg') no-repeat 0 center;
    margin-left: 3px;
    background-size: 100% 16px;
}
.section-develop_area .slide_area{
	display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
}
.section-develop_area .slide_list{
	display: block;
    width: 100%;
    height: 100%;
    position: relative;
    height: 0px;
    padding-bottom: 52.1%;
}
.section-develop_area .slide_list li{
	display: inline-block;
    width: 100%;
    height: 100%;
    float: left;
    overflow: hidden;
    position: relative;
    opacity: 0;
    transition: 1s linear;
    -moz-transition: opacity 1s linear;
    -ms-transition: opacity 1s linear;
    -o-transition: opacity 1s linear;
    -webkit-transition: opacity 1s linear;
    position: absolute;
    left: 0;
    top: 0;
    /*transition: all 0.3s;*/
}
.section-develop_area .slide_list li.active{
	opacity:1;
}
.section-develop_area .slide_list .li1{
	background: url('https://sanyglobal-img.sany.com.cn/cms/index/area-1.png') no-repeat top;
    background-size: cover;
}
.section-develop_area .slide_list .li2{
	background: url('https://sanyglobal-img.sany.com.cn/cms/index/area-2.png') no-repeat top;
    background-size: cover;
}
.section-develop_area .slide_list .li3{
	background: url('https://sanyglobal-img.sany.com.cn/cms/index/area-1.png') no-repeat top;
    background-size: cover;
}
.section-develop_area .slide-tab{
	position: absolute;
    right: 32px;
    bottom: 24px;
}
.section-develop_area .slide-tab .li{
	float: left;
    margin-left: 8px;
    width: 8px;
    height: 8px;
    background: #fff;
    transition: width 0.3s linear;
    -moz-transition: width 0.3s linear;
    -ms-transition: width 0.3s linear;
    -o-transition: width 0.3s linear;
    -webkit-transition: width 0.3s linear;
    cursor: pointer;
}
.section-develop_area .slide-tab .li.active{
	width: 24px;
    background: #E60012;
}
.section-news .article .inner{
	/*opacity: 0;*/
	display: none;
	width: 420px;
	margin: 70px 40px 0;
}
.section-news .article .normal{
	/*opacity: 1;*/
	display: block;
	width: 90%;
    max-width: 220px;
    margin: 0 auto;
}
.section-news .article.on .inner{
	/*opacity: 1;*/
	display: block;
	transition-delay: .2s;
	transition: all .2s;
}
.section-news .article.on .normal{
	/*opacity: 0;*/
	display: none;
}
.section-news .word-div{
	margin-right: 4px;
}
.section-news .moreImg{
	width:8px;
}
@media only screen and (max-width: 1440px) {
	.section-topBanner .main_keyvisual .sec_inner .gallery_item .title{
		margin-top: 150px;
	}
}
@media only screen and (max-width: 1080px) {
	.read-more.visible-1080{display: flex!important; justify-content: center; align-items: center;}
	.section-news .article,.section-news .article.on, .section-news .article:hover,.section-news .article.solution1,
	.section-news .article.solution2,.section-news .article.solution3,.section-news .article.solution4{
		width: calc(50% - 5px);
		margin: 0px;
		height: 0px;
		padding-bottom: 39.45%;
		position: relative;
		margin-top: 15px;
	}
	.section-news .article:nth-child(odd){
		float: left;
	}
	.section-news .article:nth-child(even){
		float: right;
	}
	.section-news .article::before{
		opacity: 0;
	}
	.section-news .article .time{
		display: block;
		font-size: 14px;
		color: #707070;
		line-height: 20px;
	}
	.section-news .article .inner,.section-news .article.on .inner, .section-news .article:hover .inner{
		width: calc(100% - 34px);
		margin: 0px;
		background-color: rgba(0,0,0,0.6);
		position: absolute;
		bottom: 0;
		left: 0;
		text-align: left;
		padding: 20px 10px;
		display: block;
		box-sizing: content-box;
	}
	.section-news .article .inner .white-arrow{
		width: 50px;
		position: absolute;
	    right: 20px;
	    bottom: 30px;
	}
	.section-news .article .tit{
		/*width: calc(100% - 30px);*/
		font-size: 18px;
		font-weight: bold;
		color: #1d1d1d;
		line-height: 23px;
		margin-bottom: 12px;
		text-overflow: -o-ellipsis-lastline;
		overflow: hidden;
		text-overflow: ellipsis;
		display: -webkit-box;
		-webkit-line-clamp: 2;
		line-clamp: 2;
		-webkit-box-orient: vertical;
	}
	.section-news .tit-area{
		margin-bottom: 10px;
	}
	.section-news .inner-wrap{
		width: calc(100% - 40px);
	}
	.section-news .tit-area span{
		font-size: 24px;
		text-align: left;
	}
	.section-news .read-more{
		margin-top: 22px;
	}
	.section-news .article .inner, .section-news .article.on .inner, .section-news .article:hover .inner{
		padding: 20px 17px 34px 17px;
		background: white;
	}
	.section-news .article,.section-news .article.on, .section-news .article:hover,.section-news .article.solution1,
	.section-news .article.solution2,.section-news .article.solution3,.section-news .article.solution4{
		width: 49%;
		padding-bottom: 47.713%;
		background-position: 30% 0 !important;
    	background-size: auto calc(100% - 132px);
	}
	.section-news{
		padding: 50px 0;
	}
}
@media only screen and (max-width: 1024px) {
	.section-topBanner .main_keyvisual .sec_inner .gallery_item .title{
		position: absolute; 
		top: 50%; 
		left: 0; 
		transform: translate(0,-50%); 
		margin-top: 0; 
		text-align: center; 
		width: 100%;
	}
	.uiWeb{
		background: #F8F8F8;
	}
	.section-develop_area{
		width: 91.2%;
	}
	.section-develop_area .slide_area,.section-develop_area .slide_list{
		position: relative;
		width: 100%;
		height: 0px;
		padding-bottom: 100%;
		overflow: hidden;
		margin-bottom: 20px;
	}
	.section-news .article .inner .white-arrow{
		width: 35px;
	}
	.section-develop_area .slide_list{
		width: 100%;
		height: 0;
	    padding-bottom: 100%;
	}
	.section-develop_area .slide_list li{
		height: 100%;
	}
	.section-develop_area .develop_details{
		position: relative;
		left: 0;
		top: 0;
	}
	.section-develop_area .develop_con .dev-con{
		padding-bottom: 0px;
		height: -webkit-fill-available;
	}
	.section-develop_area .develop_details .tit{
		overflow: visible;
		color: #504F4F;
		margin: 7px 0 9px 0;
		font-size: 14px;
	}
	.section-develop_area .develop_details .duty{
		font-size: 24px;
		font-weight: bold;
		color: #1d1d1d;
	}
	.section-develop_area .develop_details .icon_arrow_r{
		margin-bottom: 20px;
	}
	.section-develop_area .develop_details .tit{
		
	}
}
@media only screen and (max-width: 768px) {
	.section-topBanner .main_keyvisual .sec_inner .gallery_item .title{
		position: absolute; 
	    left: 50%; 
	    top: 100px;
    	text-align: center;
    	transform: translate(-50%, 50px); /* 50%为自身尺寸的一半 */
    	-webkit-transform: translate(-50%, 50px);
	}
	.section-topBanner .main_keyvisual .sec_inner .gallery_item.on .title{
		word-break: normal;
		position: absolute; 
		top: 10%; 
		left: 10%; 
		/*transform: translate(0,50%);*/ 
		font-size: 30px; 
		margin-top: 0; 
		text-align: left; 
		width: 60%; 
		line-height: 1.2; 
		opacity: 0;
		position: absolute; 
	    left: 50%; 
	    top: 100px;
    	text-align: center;
    	transform: translate(-50%, 0); /* 50%为自身尺寸的一半 */
    	-webkit-transform: translate(-50%, 0);
	}
	.section-topBanner .main_keyvisual .sec_inner .gallery_item.on .title{
		transition: transform 1s ease-in-out, opacity 1s ease-in-out;
		opacity: 1;
	} 
	.section-topBanner{height: 500px;padding-bottom: 0;}
	.section-quick .main-quick .sec_inner ul{
		display: flex;
		justify-content: space-between;
		padding: 0 15px;
	}
	.section-quick .main-quick .sec_inner ul li a{
		height: 133px;
    	line-height: 0px;
	}
	.section-quick .main-quick .sec_inner ul li a .ico_img{
		width: 100%;
		margin-right: 0px;
		margin-top: 40px;
		float: left;
		height: 48px;
	}
	.section-quick .main-quick .sec_inner ul li .txt{
		width: 100%;
	}
	.section-topBanner .main_keyvisual .sec_inner .main_carousel{
		width: 100%;
		text-align: center;
	}
	.section-topBanner .main_keyvisual .sec_inner .main_carousel .carousel_inner a{
		width: 50px;
	}
	.section-topBanner{
		margin-top: 60px;
	}
	.section-topBanner .main_keyvisual .sec_inner .gallery_item video{
		object-fit: contain;
		height: 500px;
		width: auto;
	}
	.section-topBanner .main_keyvisual .sec_inner .gallery_item .bg_box .box_img,
	.section-topBanner .main_keyvisual .sec_inner .gallery_item .bg_box,
	.section-topBanner .main_keyvisual .sec_inner .gallery_item,
	.section-topBanner .main_keyvisual .sec_inner,
	.section-topBanner .main_keyvisual .sec_inner .container-relative{
		height: 500px;
		min-height: 500px;
	}
	.section-quick .main-quick .sec_inner ul li .txt .title{
		font-size: 14px;
	}
	.section-news .article,.section-news .article.on, .section-news .article:hover,.section-news .article.solution1,
	.section-news .article.solution2,.section-news .article.solution3,.section-news .article.solution4{
		width: 100%;
		padding-bottom: 97.37%;
		background-size: auto calc(100% - 132px)!important;
		/*background-position: 10% 0 !important;*/
		/*background-size: 100% 68.72%;*/
		/*margin-top: 0;*/
		/*background-size: 100% auto;*/
		/*background-position: center center !important;*/
	}
	.section-quick .ico_img  .phone-icon{
		width: 30px!important;
    	margin: 0 auto;
	}
}
@media only screen and (max-width: 414px) {
	.section-topBanner .main_keyvisual .sec_inner .gallery_item .title{left: 10%; text-align: left; width: 60%; }
}