.newsdetail .new-container {
    max-width: 800px;
}

@media only screen and (max-width: 768px) {
    html, body {
        font-size: 6px;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    html, body {
        font-size: 8px;
    }
}

@media screen and (min-width: 1025px) and (max-width: 1280px) {
    html, body {
        font-size: 9px;
    }
}

@media screen and (min-width: 1281px) and (max-width: 1600px) {
    html, body {
        font-size: 10px;
    }
}

@media screen and (min-width: 1601px) {
    html, body {
        font-size: 10px;
    }
}

.section-bread {
    font-size: 1.7rem;
}

.section-bread .breadcrumb > li + li:before {
    color: #CCCCCC;
    /*content: "> ";*/
    content: "";
    padding: 0 0.5rem;
    background: url('https://sanyglobal-img.sany.com.cn/static/img/right_arrow.svg');
    background-size: 125% auto;
    background-position: 0 2px;
    background-repeat: no-repeat;
    margin-right: 10px;
}

.section-bread .breadcrumb > .active, .section-bread a {
    color: #707070;
    color: #333;
    font-size: 14px;
}

.section-bread a:hover {
    color: #3573E7;
}

.section-bread .breadcrumb {
    background: none;
    padding: 0;
    margin: 0;
    padding: 2.8rem 0 2.5rem 0;
}

.section-value {
    background: white;
}

.section-value .c-top {
    padding: 6rem 0 3.3rem 0;
    border-bottom: 1px solid #d8d8d8;
}

.section-value .c-top .c-type {
    font-size: 1.8rem;
    font-weight: 400;
    color: #dc000c;
}

.section-value .c-top .c-title {
    font-size: 3.6rem;
    font-weight: 700;
    color: #1d1d1d;
    line-height: 4rem;
    margin: 1rem 0;
}

.section-value .c-top .c-time {
    font-size: 1.8rem;
    font-weight: 400;
    color: #707070;
}

.section-value .c-top .c-icons {
    margin-top: 2.7rem;
}

.section-value .c-icons {
    overflow: hidden;
}

.section-value .stButton .stLarge {
    background-image: none !important;
}

.section-value .c-icons div {
    cursor: pointer;
    background-repeat: no-repeat !important;
    float: left;
    margin-right: 2rem;
    width: 3rem;
    height: 3rem;
    background-size: 100% !important;
}

.section-value .c-icons .icon1 {
    background: url('../img/icon1.svg');
}

.section-value .c-icons .icon1:hover {
    background: url('../img/icon1-hover.svg');
}

.section-value .c-icons .icon2 {
    background: url('../img/icon2.svg');
}

.section-value .c-icons .icon2:hover {
    background: url('../img/icon2-hover.svg');
}

.section-value .c-icons .icon3 {
    background: url('../img/icon3.svg');
}

.section-value .c-icons .icon3:hover {
    background: url('../img/icon3-hover.svg');
}

.section-value .c-icons .icon4 {
    background: url('../img/icon4.svg');
}

.section-value .c-icons .icon4:hover {
    background: url('../img/icon4-hover.svg');
}

.section-value .c-val {
    padding: 5rem 0 3rem 0;
    line-height: 30px;
    font-size: 18px;
}

.section-value .c-val img {
    width: 100% !important;
    height: auto !important;
    margin: 20px 0;
    max-width: 100%;
    display: block;
}

.section-value .c-val p {
    font-size: 18px;
    color: #333;
}

.section-value .c-bottom {
    padding-bottom: 5rem;
    border-bottom: 1px solid #d8d8d8;;
}

.section-value .c-bottom-tit {
    font-size: 2.4rem;
    font-weight: bold;
    color: #3e3e3e;
    margin-bottom: 2rem;
}

.section-newsroom {
    padding: 5rem 0;
}

.section-newsroom .room-tit span:nth-of-type(1) {
    font-weight: 700;
    font-size: 3.6rem;
    color: #3E3E3E;
}

.section-newsroom .more-logo {
    width: 14.4rem;
    margin-top: -0.6rem;
}

.section-newsroom .room-tit span:nth-of-type(2) {
    color: #707070;
    font-size: 3.6rem;
    margin: 0 2.4rem 0 1.9rem;
}

.section-newsroom .room-tit span:nth-of-type(3) {
    font-size: 3.6rem;
    font-weight: 700;
    color: #3e3e3e;
}

.section-newsroom .room-desc {
    font-size: 2.4rem;
    font-weight: 400;
    color: #1d1d1d;
    margin: 1.8rem 0 1.5rem 0;
}

.section-newsroom .room-more a {
    font-size: 2rem;
    font-weight: 400;
    color: #3573e7;
    list-style: none;
    text-decoration: none;
}

.section-newsroom .room-more img {
    width: 8px;
    margin-left: 10px;
}

.section-articles {
    padding: 5rem 0 12rem 0;
    background: white;
}

.section-articles .tit {
    font-size: 3.6rem;
    font-weight: 700;
    color: #1d1d1d;
}

@media only screen and (min-width: 768px) {
    /*.section-articles .swiper-wrapper{
        transform: none!important;
    }*/
    .section-articles .swiper-slide {
        width: 42% !important;
        max-width: 710px;
        min-width: 560px;
        margin: 0 25%;
    }

    .section-articles .swiper-slide:nth-of-type(1) {
        margin-left: 0;
    }
}

.section-articles .swiper-wrapper {
    transform: none !important;
}

.section-articles .swiper-container {
    width: 100%;
    margin: 3rem auto;
}

.section-articles .swiper-slide {
    /*width: 67%!important;
    padding-right: 25.604%;*/

    /*width: 42%!important;
    max-width: 710px;
    min-width: 560px;
    margin: 0 25%;*/

    text-align: center;
    background: #fff;
    margin-right: 0 !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.section-articles .slide-val {
    position: relative;
    width: 100%;
    cursor: pointer;
}

.section-articles .val-img {
    width: 100%;
    height: 0;
    padding-bottom: 63.38%;
    position: relative;
    overflow: hidden;
}

.section-articles .val-img img {
    width: auto;
    min-width: 100%;
    height: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.section-articles .val-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0), #000000);
}

.section-articles .val-bottom div:nth-of-type(1) {
    /*height: 6rem;*/
    font-size: 2.4rem;
    font-weight: bold;
    color: #ffffff;
    line-height: 3rem;
    text-align: left;
    padding: 0 3.5rem;
    text-overflow: -o-ellipsis-lastline;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
}

.section-articles .val-bottom div:nth-of-type(2) {
    font-size: 1.6rem;
    font-weight: 400;
    color: #ffffff;
    text-align: left;
    padding: 1.5rem 3.5rem 2rem 3.5rem;
}

.section-articles .swiper-button-next,
.section-articles .swiper-button-prev {
    color: #0B0716;
    width: 5rem;
    height: 5rem;
	background-size: 40px 40px;
}

.section-articles .swiper-button-next:after,
.section-articles .swiper-button-prev:after {
    font-size: 2rem;
}

@media only screen and (max-width: 768px) {
    .section-bread .breadcrumb > li + li:before {
        background-size: 100% auto;
    }

    .new-container {
        width: calc(100% - 34px);
    }

    .section-bread {
        margin-top: 60px;
        font-size: 14px;
    }

    .section-bread .breadcrumb {
        padding: 24px 0;
    }

    .section-value .c-top {
        padding: 24px 0 30px 0;
    }

    .section-value .c-top .c-type, .section-value .c-top .c-time,
    .section-newsroom .room-more, .section-newsroom .room-more a {
        font-size: 14px;
    }

    .section-value .c-top .c-title {
        font-size: 23px;
        font-weight: bold;
        line-height: 27px;
        margin: 10px 0;
    }

    .section-value .c-top .c-icons {
        margin-top: 20px;
    }

    .section-value .c-val {
        padding: 30px 0 10px 0;
        line-height: 27px;
        font-size: 16px;
    }

    .section-value .c-val img {
        margin: 10px 0;
        height: auto !important;
    }

    .section-value .c-val p {
        font-size: 16px;
    }

    .section-value .c-bottom-tit {
        font-size: 20px;
        margin-bottom: 17px;
    }

    .section-value .c-icons div {
        width: 26px;
        height: 26px;
    }

    .section-newsroom {
        /*padding: 43px 0 59px 0;*/
        padding: 38px 0 52px 0;
    }

    .section-newsroom .room-more img {
        margin-left: 2px;
        width: 6px;
    }

    .section-newsroom .room-desc {
        font-size: 14px;
        /*margin: 23px 0 7px 0;*/
        margin: 12px 0 4px 0;
    }

    .section-newsroom .room-tit span:nth-of-type(2) {
        margin: 0 15px 0 15px;
    }

    .section-newsroom .room-tit span:nth-of-type(1), .section-newsroom .room-tit span:nth-of-type(3) {
        font-size: 20px;
    }

    .section-latest {
        padding: 47px 0 0 0;
    }

    .section-articles .swiper-button-next,
    .section-articles .swiper-button-prev {
        display: none;
    }

    .section-articles .swiper-slide {
        width: 318px !important;
        padding-right: 0px !important;
        margin-right: 17px !important;
    }

    .section-articles .swiper-slide:nth-of-type(1) {
        margin-left: 17px;
    }

    .section-articles .swiper-slide:last-child {
        margin-right: 0px !important;
    }

    .section-articles .val-img {
        width: 318px;
        height: 367px;
        padding-bottom: 0;
    }

    .section-articles .val-img img {
        width: auto;
        height: 100%;
    }

    .section-articles {
        position: relative;
        padding: 47px 0 0 0;
    }

    .section-articles .tit {
        font-size: 23px;
        text-align: center;
    }

    .section-articles .swiper-container {
        margin: 23px auto 0 auto;
    }

    .section-articles .swiper-wrapper {
        /*overflow: scroll;
        left: 0!important;*/
    }

    /*隐藏滚动条*/
    .section-articles .swiper-wrapper::-webkit-scrollbar {
        display: none;
    }

    .section-articles .swiper-wrapper {
        scrollbar-width: none;
        -ms-overflow-style: none;
    }

    .section-articles .val-bottom div:nth-of-type(1) {
        font-size: 17px;
        font-weight: 700;
        line-height: 20px;
        padding: 0 17px;
        /*height: 40px;*/
    }

    .section-articles .val-bottom div:nth-of-type(2) {
        /*font-size: 1.6rem;*/
        font-size: 14px;
        font-weight: 400;
        padding: 13px 17px 23px 17px;
    }

    .section-articles .sl-box {
        background: rgba(255, 255, 255, 0.6);
        width: 44px;
        height: 44px;
        text-align: center;
        z-index: 9;
        position: absolute;
        top: 50%;
    }

    .section-articles .sl-box img {
        width: 10px;
        margin-top: 12px;
    }

    .section-articles .sl-box:nth-of-type(1) {
        left: 20px;
        display: none;
    }

    .section-articles .sl-box:nth-of-type(2) {
        right: 20px;
    }
}

@media only screen and (max-width: 414px) {
    .section-articles .swiper-slide:nth-of-type(1) {
        margin-left: 17px;
    }
}

@media screen and (min-width: 415px) and (max-width: 768px) {
    .section-articles .swiper-slide:nth-of-type(1) {
        margin-left: 0px;
    }
}

.newsdetail .swiper-button-next, .newsdetail .swiper-container-rtl .swiper-button-prev {
    right: 30px;
}

.newsdetail .swiper-button-prev, .newsdetail .swiper-container-rtl .swiper-button-next {
    left: 30px;
}


@font-face {
    font-family: 'iconfont';  /* project id 1949660 */
    src: url('//at.alicdn.com/t/font_1949660_pfxbfx9pd2j.eot');
    src: url('//at.alicdn.com/t/font_1949660_pfxbfx9pd2j.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_1949660_pfxbfx9pd2j.woff2') format('woff2'),
    url('//at.alicdn.com/t/font_1949660_pfxbfx9pd2j.woff') format('woff'),
    url('//at.alicdn.com/t/font_1949660_pfxbfx9pd2j.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_1949660_pfxbfx9pd2j.svg#iconfont') format('svg');
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}

.breadcrumb-cl {
    padding: 2.8rem 0 2.5rem 0;
    text-align: left;
}

.breadcrumbs {
    font-size: 14px;
    text-decoration: none;
    transition: color .2s cubic-bezier(.645, .045, .355, 1);
}

.el-breadcrumb__item:last-child .el-breadcrumb__inner,
.el-breadcrumb__item:last-child .el-breadcrumb__inner a,
.el-breadcrumb__item:last-child .el-breadcrumb__inner a:hover,
.el-breadcrumb__item:last-child .el-breadcrumb__inner:hover {
    color: #FCFBFB;
    font-weight: 700;
}

.el-breadcrumb__inner, .el-breadcrumb__inner a, .el-breadcrumb__inner.is-link {
    color: #FCFBFB;
}

.el-breadcrumb__inner a:hover, .el-breadcrumb__inner.is-link:hover {
    color: #FCFBFB;
}
.sku-top-outer .breadcrumbs .el-breadcrumb__separator[class*=icon] {
    color: #333;
}

@media screen and (max-width: 1024px) {
    .breadcrumb-category .breadcrumb-top {
        background: #f5f5f5;
    }

    .sku-breadcrumb .breadcrumb-top {
        background: #f8f8f8;
    }

    .breadcrumb-cl {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .breadcrumbs { /*padding-left: 20px;*/
        padding-right: 20px;
        line-height: 1.8;
    }

    .breadcrumbs a {
        color: #555;
    }

    .breadcrumbs a.current {
        display: block;
        color: #e60012;
    }

    .breadcrumb-top {
        margin-top: 60px;
    }

}

.el-icon-arrow-right:before {
    content: "\e6e0";
}
