.uiWeb{
	background: #F8F8F8;
}
.section-pressRelase .big-one{
	display: block;
	position: relative;
	overflow: hidden;
	background: white;
	margin:3rem 0 5rem 0;
	cursor: pointer;
}
.section-pressRelase .big-one:hover{
	box-shadow: 0 12px 12px -10px rgba(0,0,0,.15);
}
.section-pressRelase .big-one:hover .newsPic{
	transform: scale(1.05);
}
.section-pressRelase .big-one .bo-left{
	width: 59.16%;
	overflow: hidden;
	float: left;
}
.section-pressRelase .big-one .bo-left .bol-box{
	position: relative;
	width: 100%;
	height: 0;
	padding-bottom: 63.38%;
	overflow: hidden;
}
.section-pressRelase .big-one .bo-right{
	box-sizing: content-box;
	width: 32.84%;
	padding: 0 4%;
	float: left;
}
.section-pressRelase .big-one .newsPic{
    vertical-align: middle;
    transition: all .5s;
    height: 100%;
    width: auto;
    min-width: 100%;
    position: absolute;
    left: -6%;
}
.section-pressRelase .big-one .bor-desc{
	font-size: 2rem;
	color: #707070;
	margin: 6rem 0 3rem 0;
}
.section-pressRelase .big-one .bor-title{
	font-size: 3.6rem;
	font-weight: bold;
	color: #3e3e3e;
	line-height: 4rem;
	overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
	-webkit-line-clamp: 4;
	height: 16rem;
    -webkit-box-orient: vertical;
}
.section-pressRelase .big-one .bor-bottom{
	position: absolute;
	bottom: 4rem;
	right: 4rem;
	font-size: 1.6rem;
	color: #707070;
	width: 32.84%;
}
.section-pressRelase .big-one .bor-bottom img{
	width: 3.7rem;
	float: right;
}

.section-pressRelase .small-lists{
	overflow: hidden;
}
.section-pressRelase .small-lists li:hover{
	box-sizing: border-box;
	box-shadow: 0 12px 12px -10px rgba(0,0,0,.15); 
}
.section-pressRelase .small-lists li:hover .sml-pic img{
	transform: scale(1.05);
}
.section-pressRelase .small-lists li{
	width: calc((100% - 60px) / 3);
	float: left;
	background: white;
	margin-bottom: 30px;
	cursor: pointer;
}
.section-pressRelase .small-lists li a{
	list-style: none;
	text-decoration: none;
}
.section-pressRelase .small-lists li:nth-of-type(2),
.section-pressRelase .small-lists li:nth-of-type(5){
	margin: 0 30px;
}
.section-pressRelase .small-lists .sml-pic{
	width: 100%;
	height: 0;
	padding-bottom: 63.16%;
	position: relative;
	overflow: hidden;
}
.section-pressRelase .small-lists .sml-pic img{
	width: auto;
	min-width: 100%;
    transition: all .5s;
    position: absolute;
    height: 100%;
}
.section-pressRelase .small-lists .sml-desc{
	font-size: 1.8rem;
	color: #707070;
	padding: 20px 20px 15px 20px;
}
.section-pressRelase .small-lists .sml-title{
	height: 88px;
	font-size: 24px;
	font-weight: 700;
	color: #3e3e3e;
	line-height: 30px;
	padding: 0 20px;
	overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
.section-pressRelase .small-lists .sml-bottom{
	padding: 20px 20px 45px 20px;
	font-size: 1.6rem;
	color: #707070;
	width: calc(100% - 40px);
}
.section-pressRelase .small-lists .sml-bottom img{
	width: 3.7rem;
	float: right;
}
.section-pressRelase .readmore{
	margin: 0 auto;
	margin-top: 1rem;
	font-size: 2rem;
	text-align: center;
	color: #3573e7;
}
.section-pressRelase .readmore a{
	color: #3573e7;
}
.section-pressRelase .readmore div{
	display: inline-block;
	cursor: pointer;
}
.section-pressRelase .readmore img{
	width: 8px;
	margin-left: 10px;
	margin-top: -3px;
}
.section-featured{
	position: relative;
	margin-top: 7rem;
	padding: 7rem 0 5.5rem 0;
	background: white;
	overflow: hidden;
}
.section-featured .content{
	position: relative;
	height: 56.5rem;
}
.section-featured .big-title,.section-pressRelase .big-title{
	font-size: 3.6rem;
	font-weight: bold;
	color: #1d1d1d;
	margin-bottom: 3rem;
}
.section-pressRelase .big-title{margin-top: 6rem;}
.section-featured .box-lists{
	width: 100%;
    /*height: 100%;*/
    overflow-x: scroll; /*添加横向滚动条*/
    white-space: nowrap;
    overflow: visible;
    position: absolute;
    left: 0;
}
/* 谷歌浏览器 隐藏滚动条 */
.section-featured .box-lists::-webkit-scrollbar {
    /*display: none;*/
}
.section-featured .box-lists .box-one{
	width: 59.2%;
	max-width: 710px;
	height: auto;
	overflow: hidden;
	position: relative;
	float: none;
    display: inline-block;
	cursor: pointer;
}
.section-featured .one-wz{
	position: relative;
	width: 100%;
	height: 0;
	padding-bottom: 63.4%;
}
/*.section-featured .box-lists .box-one:hover img{
	transform: scale(1.05);
}*/
.section-featured .box-lists .box-one:not(:last-child){
	margin-right: 30px;
}
.section-featured .box-lists .box-one img{
	width: auto;
    height: 100%;
    min-width: 100%;
    transition: scale .5s;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.section-featured .box-one .boxo-bottom{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	/*height: 15.5rem;*/
	background: linear-gradient(180deg,rgba(0,0,0,0), #000000);
}
.section-featured .boxo-bottom .boxob-title{
	/*height: 7rem;*/
	padding: 1rem 4.5rem 0rem 4.5rem;
	font-size: 2.4rem;
	font-weight: bold;
	text-align: left;
	color: #ffffff;
	line-height: 3rem;
	overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    white-space: pre-wrap;
}
.section-featured .boxo-bottom .boxob-time{
	font-size: 16px;
	color: #ffffff;
	padding: 1.5rem 4.5rem 2rem 4.5rem;
}
.section-featured .box-button{
	overflow: hidden;
}
.section-featured .box-button .boxb-num{
	font-size: 1.8rem;
	color: #707070;
	float: left;
	width: 45px;
}
.section-featured .box-button .boxb-process{
	width: 41.67%;
    min-width: 400px;
	position: relative;
	margin: 8px 50px 0 65px;
	float: left;
}
.section-featured .boxb-process .process1{
	width: 100%;
	height: 3px;
	background: #D8D8D8;
}
.section-featured .boxb-process .process2{
	width: 0px;
	height: 3px;
	background: #DC000C;
	position: absolute;
	top: 0;
	left: 0;
}
.section-featured .box-button .boxb-arrow{
	float: left;
}
.section-featured .box-button .boxb-arrow img{
	cursor: pointer;
	width: 10px;
}
.section-featured .box-button .boxb-arrow img.leftArrow{
	margin-right: 38px;
}
@media only screen and (max-width: 1440px){
	.section-featured .content{
	    height: 62rem;
	}
}
@media only screen and (max-width: 1320px){
	.section-pressRelase .big-one .bor-title{
		font-size: 28px;
		line-height: 36px;
		height: 144px;
	}
}
@media only screen and (max-width: 1180px){
	.section-pressRelase .big-one .bor-title{
		font-size: 26px;
		line-height: 32px;
		height: 128px;
	}
}
@media only screen and (max-width: 1024px) {
	.section-pressRelase .big-one .bor-desc{
		margin: 4rem 0 2rem 0;
	}
	.section-pressRelase .big-one .bor-title{
		font-size: 22px;
		line-height: 28px;
		height: 112px;
	}
	.section-featured .content{
	    height: 70rem;
	}
	.section-pressRelase .small-lists li{
		width: calc((100% - 20px) / 2);
	}
	.section-pressRelase .small-lists li:nth-of-type(2), .section-pressRelase .small-lists li:nth-of-type(5){
		margin: 0;
	}
	.section-pressRelase .small-lists li:nth-child(even){
		margin-left: 20px!important;
	}
	.section-pressRelase .small-lists li{
		margin-bottom: 20px!important;
	}
	.section-featured .box-button .boxb-process{
		margin: 8px 25px 0 35px;
	}
	.section-featured .box-button{
		padding-top: 20px;
	}
	.section-featured .content{
		height: 435px;
	}
	.section-featured .boxo-bottom .boxob-title{
		padding: 1rem 20px 1.5rem 20px;
	}
	.section-featured .boxo-bottom .boxob-time{
		padding: 10px 20px;
	}
	.section-pressRelase{
		margin-top: 77px;
	}
}
@media only screen and (max-width: 768px) {
	.section-pressRelase .big-one .newsPic{
		left: 0;
	}
	.section-pressRelase .big-one .bo-left,.section-pressRelase .big-one .bo-right,
	.section-pressRelase .small-lists li{
		width: 100%;
	}
	.section-pressRelase .big-one .bo-right{
		padding: 0 17px;
		width: calc(100% - 34px);
	}
	.section-pressRelase .big-one .bor-desc{
		font-size: 14px;
		margin: 20px 0 10px 0;
	}
	.section-pressRelase .small-lists .sml-desc{
		font-size: 14px;
		padding: 20px 17px 10px 17px;
	}
	.section-pressRelase .big-one .bor-title{
		font-size: 18px;
		line-height: 22px;
		height: auto;
	}
	.section-pressRelase .small-lists .sml-title{
		height: auto;
		font-size: 18px;
		line-height: 22px;
		padding: 0 17px;
	}
	.section-pressRelase .big-one .bor-bottom{
		width: 100%;
	    position: relative;
	    right: 0;
	    bottom: 0;
	    padding: 10px 0 27px 0;
	    font-size: 14px;
	}
	.section-pressRelase .small-lists .sml-bottom{
		padding: 10px 17px 27px 17px;
		width: calc(100% - 34px);
		font-size: 14px;
	}
	.section-pressRelase .small-lists li:nth-of-type(2), .section-pressRelase .small-lists li:nth-of-type(5){
		margin: 0;
	}
	.section-pressRelase .small-lists li:nth-child(even){
		margin-left: 0px!important;
	}
	.section-pressRelase .readmore{
		font-size: 17px;
		color: #0064d9;
		margin-top: 3px;
	}
	.section-pressRelase .big-one{
		margin: 17px 0;
	}
	.section-pressRelase .small-lists li{
		margin-bottom: 17px!important;
	}
	.section-featured{
		margin-top: 58px;
		padding: 40px 0 65px 0;
	}
	.section-featured .box-lists .box-one{
		width: 318px;
		margin-right: 17px;
	}
	.section-featured .box-lists .box-one:first-child{
		margin-left: 17px;
	}
	.section-featured .box-lists .box-one:not(:last-child){
		margin-right: 13px;
		/*margin-right: 17px;*/
		
	}
	.section-featured .box-lists .box-one .one-wz{
		padding-bottom: 115.5%;
	}
	.section-featured .box-lists .box-one img{
		width: auto;
    	height: 367px;
	}
	.section-featured .big-title,.section-pressRelase .big-title{
		font-size: 23px;
		/* text-align: center; */
	}
	.section-pressRelase .big-title{
		margin-top: 0;
		margin-bottom: 12px;
	}
	.section-featured .big-title{
		text-indent: 17px;
		margin-bottom: 23px;
	}
	.section-featured .content{
		height: 415px;
	}
	.section-featured .boxo-bottom .boxob-title{
		padding: 0 17px 0 17px;
		font-size: 17px;
		line-height: 20px;
		/*height: 60px;*/
	}
	.section-featured .boxo-bottom .boxob-time{
		font-size: 14px;
		/*padding: 0 17px;*/
		padding: 13px 17px 23px 17px;
	}
	.section-featured .box-one .boxo-bottom{
		/*height: 116px;*/
	}
	.section-featured .box-lists{
		/*overflow: scroll;*/
		/*position: relative;*/
	}
	.section-featured .sl-box{
		background: rgba(255,255,255,0.6);
		width: 44px;
		height: 44px;
		text-align: center;
		z-index: 9;
		position: absolute;
		top: 50%;
	}
	.section-featured .sl-box img{
		width: 10px;
		margin-top: 12px;
	}
	.section-featured .sl-box:nth-of-type(1){
		left: 20px;
		display: none;
	}
	.section-featured .sl-box:nth-of-type(2){
		right: 20px;
	}
	.section-featured .box-lists::-webkit-scrollbar {
	    display: none;
	}
	.section-featured .box-lists{
	    scrollbar-width: none;
	    -ms-overflow-style: none;
	}
	.section-featured .new-container{
		width: 100%;
	}
}
