.moudle-value-el .el-icon-arrow-right {
    width: 16px;
    height: 16px;
    position: relative;
    transform: rotate(45deg);
    transform-origin: center
}

.moudle-value-el .el-icon-arrow-right:before {
    content: "";
    width: 16px;
    height: 16px;
    background: url(../img/close.png) no-repeat 50%;
    background-size: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%)
}

.moudle-value-el .el-collapse-item__arrow.is-active {
    transform: rotate(90deg)
}

@media only screen and (max-width: 768px) {
    .el-collapse-item__header {
        padding: 20px 10px 20px 20px
    }

    .moudle-value-el .el-icon-arrow-right {
        padding: 10px 0 10px 10px
    }

    .moudle-value-el .el-icon-arrow-right:before {
        width: 12px;
        height: 12px
    }
}

.handel-image {
    opacity: 1;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%)
}

.handel-image.wdt {
    height: 100%;
    width: auto
}

.handel-image.hgt {
    width: 100%;
    height: auto
}

.no-image {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .1);
    position: absolute;
    left: 0;
    top: 0
}

.sco-top div.el-image {
    left: 0;
    bottom: 0
}

.case-view {
    width: 840px;
    max-height: 85%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    padding: 20px 20px 40px;
    color: #3e3e3e;
    overflow-y: scroll
}

.case-view .image {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    display: block
}

.case-view-title {
    font-size: 24px;
    margin: 30px 0 15px
}

.case-view-desc {
    font-size: 18px;
    line-height: 26px
}

.case-view-desc p img {
    display: none
}

.section-case {
    margin-top: 30px
}

.section-case .el-carousel__arrow--left, .section-case .el-carousel__arrow--right {
    background: hsla(0, 0%, 100%, .6);
    color: #000;
    border-radius: 0;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 20px
}

.case-button-next, .case-button-prev {
    display: none
}

.case-poup:hover .case-button-next, .case-poup:hover .case-button-prev {
    display: block
}

.full-screen .swiper-pagination {
    bottom: 20px;
    width: 100%
}

.full-screen .swiper-pagination-bullet {
    opacity: .5;
    background: #fff;
    width: 50px;
    height: 4px;
    border-radius: 0;
    margin: 0 4px
}

.full-screen .swiper-pagination-bullet-active {
    opacity: 1;
    background: #fff
}

.case-image-warp {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden
}

@media screen and (max-width: 1024px) {
    .case-view {
        width: 85%
    }

    .case-button-next, .case-button-prev {
        display: block
    }

    .full-screen .swiper-pagination-bullet {
        width: 30px;
        height: 2px;
        margin: 0 2px
    }

    .case-view-title {
        font-size: 18px;
        margin: 12px 0 6px
    }

    .case-view-desc {
        font-size: 14px;
        line-height: 1.8
    }
}

.imageList .image2 .image-item {
    width: 100% !important
}

.imageList .image2 .image-item:first-child, .imageList .image3 .gallery-img-left .image-item:first-of-type {
    padding-bottom: calc(85% + 5px)
}

.imageList .image3 .gallery-img-right .image-item {
    width: 100% !important
}

.imageList .image3 .gallery-img-right .image-item:first-of-type {
    padding-bottom: 28.3% !important
}

.imageList .image3 .gallery-img-right .image-item:nth-of-type(2) {
    padding-bottom: 56.7% !important
}

.imageList .image4 .gallery-img-left .image-item:nth-of-type(2), .imageList .image4 .gallery-img-right .image-item {
    width: 100% !important
}

.imageList .image4 .gallery-img-right .image-item:nth-of-type(2) {
    padding-bottom: 56.7% !important
}

.imageList .image5 .gallery-img-right .image-item {
    width: 100% !important
}

.imageList .image5 .gallery-img-right .image-item:nth-of-type(2) {
    padding-bottom: 56.7% !important
}

.imageList .image-item {
    background: rgba(0, 0, 0, .1)
}

.imageListPhone .image2 .gallery-img-mobile .image-item {
    width: calc(50% - 2.5px);
    float: left;
    padding-bottom: calc(85% + 5px)
}

.imageListPhone .image2 .gallery-img-mobile .image-item:nth-child(2) {
    float: right
}

.pc-maodian-s.gallery-pc-maodian-s {
    width: 50% !important;
    display: flex !important
}

.addBlock {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 9999
}

.el-image-viewer__wrapper {
    background: #000
}

.else-div {
    overflow: hidden
}

#case .outer-tc, #gallery .outer-tc {
    position: fixed;
    background: rgba(0, 0, 0, .9)
}

.preview-close {
    font-size: 18px;
    color: #fff;
    position: absolute;
    right: 40px;
    top: 24px;
    font-size: 28px;
    z-index: 99;
    cursor: pointer
}

.gallery-container {
    position: relative
}

.gallery-img-left:after {
    content: "";
    clear: both;
    display: block
}

.image-item {
    position: relative;
    overflow: hidden
}

.image-item .img-warp {
    position: absolute;
    width: 100%;
    height: 100%
}

.gallery-img-right .image1 .image-item:last-child, .gallery-img-right .image-item:last-child, .image1 .image-item:first-child, .image-item:first-child {
    width: 100%;
    padding-bottom: 56.7%
}

.image-item:first-child {
    margin-bottom: 5px
}

.gallery-img-right .image-item:last-child {
    margin-top: 0
}

.no-image {
    background: transparent !important
}

.gallery-img-left, .gallery-img-right {
    width: calc(50% - 2.5px) !important
}

.gallery-img-right .image-item:first-child, .image-item:nth-child(2) {
    width: calc(50% - 2.5px);
    padding-bottom: 28.3%;
    float: left
}

.gallery-img-right .image-item:nth-child(2), .image-item:nth-child(3) {
    width: calc(50% - 2.5px);
    padding-bottom: 28.3%;
    float: right
}

.video-content, .vr-content {
    width: 100%;
    padding-bottom: 43%;
    position: relative;
    overflow: hidden
}

.video-content .video-warp, .vr-content .vr-warp {
    position: absolute;
    width: 100%;
    height: 100%
}

.video-warp {
    background: #000;
    cursor: pointer
}

.video-warp video {
    width: 100%;
    height: 100%;
    position: absolute;
    border: none !important
}

.vr-content .vr-warp img, .vrSvg {
    cursor: pointer
}

.video-content ._play-btn {
    width: 5em;
    height: 5em
}

.gallery-moudle-content {
    margin-top: 20px
}

.section-gallery .el-carousel__arrow--left, .section-gallery .el-carousel__arrow--right {
    background: hsla(0, 0%, 100%, .6);
    color: #000;
    border-radius: 0;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 20px
}

.gallery-moudle-content .el-carousel__container {
    height: 622px
}

.gallery-moudle-content .el-carousel__item {
    background: #f8f8f8
}

.gallery-moudle-content .el-carousel__indicators {
    display: none
}

.vr-poup, .vr-poup .mask {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2
}

.vr-poup .mask {
    position: absolute;
    background: #000
}

.vr-poup-content, .vr-poup-content iframe {
    height: 100vh
}

.poup-title {
    position: absolute;
    font-size: 24px;
    color: #fff;
    left: 0;
    top: 0;
    height: 80px;
    line-height: 80px;
    width: 100%;
    background: #000;
    z-index: 99
}

.poup-title .poup-close {
    font-size: 30px;
    padding: 25px;
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer
}

.poup-container {
    padding-left: 20px;
    max-width: 90%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.image-button-next, .image-button-prev {
    display: none
}

.images-poup:hover .image-button-next, .images-poup:hover .image-button-prev {
    display: block
}

.pc-gallery-item:hover {
    border-bottom: 2px solid #e60012;
    color: #e60012
}

.gallery-img-warp-m {
    position: relative
}

.section-gallery .swiper-pagination-bullet-active {
    outline: none;
    cursor: pointer
}

.video-content .play-btn {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    cursor: pointer;
    display: none;
    transition: none
}

.video-content .play-btn:after {
    content: "";
    background: rgba(0, 0, 0, .5);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%
}

.video-content .play-btn img {
    width: 26px;
    height: 26px;
    transition: none;
    margin: 12px 10px 12px 14px;
    position: relative;
    z-index: 2
}

.video-content .play-btn img.playing {
    margin: 9px;
    width: 32px;
    height: 32px
}

.video-content:hover .play-btn {
    display: block
}

@media only screen and (max-width: 1909px) {
    .section-gallery .el-carousel__container {
        height: 506px
    }
}

@media screen and (max-width: 1441px) and (max-width: 1280px) {
    .poup-title {
        font-size: 20px
    }
}

@media screen and (max-width: 1279px) {
    .section-gallery .el-carousel__container {
        height: 365px
    }
}

@media screen and (max-width: 849px) {
    .section-gallery .el-carousel__container {
        height: 321px
    }
}

@media screen and (max-width: 1024px) {
    .poup-title {
        font-size: 20px;
        height: 60px;
        line-height: 60px
    }

    .poup-title .poup-close {
        padding: 15px
    }

    .video-content, .vr-content {
        width: 100%;
        padding-bottom: 56.2%
    }

    .preview-close {
        right: 20px;
        top: 20px
    }

    .images-poup .el-carousel__indicator--horizontal {
        padding: 12px 2px
    }

    .images-poup .el-carousel__button {
        width: 20px
    }

    .image-button-next, .image-button-prev {
        display: block
    }

    .section-case .el-carousel__arrow--left, .section-case .el-carousel__arrow--right, .section-gallery .el-carousel__arrow--left, .section-gallery .el-carousel__arrow--right {
        width: 36px;
        height: 36px;
        line-height: 36px
    }

    .gallery-img-warp-m .swiper-pagination {
        width: 100%;
        margin-top: 15px
    }

    .gallery-img-warp-m .swiper-pagination-bullet {
        margin: 0 1vw;
        border-radius: 6px;
        width: 5vw;
        max-width: 40px;
        height: 1vw;
        max-height: 4px;
        background: #767676;
        opacity: 1;
        opacity: .6
    }

    .gallery-img-warp-m .swiper-pagination-bullet-active {
        background: #e60012;
        opacity: 1
    }
}

@media screen and (max-width: 768px) {
    .poup-title {
        font-size: 16px
    }

    .poup-container {
        padding-left: 4vw
    }

    .video-content, .vr-content {
        width: 100%;
        padding-bottom: 56.2%
    }

    .gallery-moudle-content {
        margin-top: 12px
    }
}

.mt-div {
    position: relative
}

.request-a {
    position: absolute;
    top: 2px;
    right: 0;
    display: inline-block;
    text-align: center
}

.request-a .detail-rquest {
    color: #333;
    border: 1px solid #333;
    transition: all .3s
}

.request-a:hover .detail-rquest {
    background: #000;
    color: #fff;
    border: #000
}

.pc-maodian-s {
    display: block !important
}

.pc-maodian-s a {
    display: inline-block;
    float: left
}

.pc-maodian-s a:hover .pc-maodiain-item {
    border-bottom: 2px solid #e60012;
    color: #e60012
}

.pc-maodian-s .pc-maodian-s-line {
    float: left;
    margin: 0 30px
}

.pc-maodian-s {
    width: 100% !important
}

.detail-maodian-btns {
    float: none !important;
    position: absolute;
    right: 0;
    top: 0
}

.detail-maodian:hover {
    transition: all .3s
}

.detail-warp {
    position: relative;
    z-index: 66
}

.request-hover-btn:hover {
    background: #000;
    transition: all .3s;
    color: #fff
}

@media screen and (min-width: 992px) {
    .container {
        width: 970px
    }
}

@media screen and (max-width: 1024px) {
    .font-6, .font-7 {
        font-size: 14px
    }
}

@media screen and (max-width: 1279px) {
    .detail-maodian-btns div {
        width: 130px
    }

    .pc-maodian-s .pc-maodian-s-line {
        margin: 0 26px
    }
}

@media only screen and (max-width: 1024px) {
    .pc-maodian-s .pc-maodian-s-line {
        margin: 0 20px;
        height: 24px
    }

    .detail-rquest {
        width: 200px;
        height: 42px;
        line-height: 40px
    }
}

.breadcrumb-cl {
    padding-top: 20px;
    text-align: left
}

.breadcrumbs {
    padding-left: 40px;
    font-size: 14px;
    text-decoration: none;
    transition: color .2s cubic-bezier(.645, .045, .355, 1)
}

.el-breadcrumb__separator[class*=icon] {
    margin: 0 6px 0 0
}

.breadcrumbs a {
    color: #fcfbfb;
    text-decoration: none
}

.el-breadcrumb__item:last-child .el-breadcrumb__inner, .el-breadcrumb__item:last-child .el-breadcrumb__inner:hover, .el-breadcrumb__item:last-child .el-breadcrumb__inner a, .el-breadcrumb__item:last-child .el-breadcrumb__inner a:hover {
    color: #fcfbfb;
    font-weight: 700
}

.el-breadcrumb__inner, .el-breadcrumb__inner.is-link, .el-breadcrumb__inner.is-link:hover, .el-breadcrumb__inner a, .el-breadcrumb__inner a:hover {
    color: #fcfbfb
}

@media screen and (min-width: 1025px) {
    .el-breadcrumb__separator[class*=icon] {
        color: #fff
    }
}

.sku-top-outer .breadcrumbs .el-breadcrumb__separator[class*=icon] {
    color: #333
}

@media screen and (max-width: 1024px) {
    .breadcrumb-category .breadcrumb-top {
        background: #f5f5f5
    }

    .sku-breadcrumb .breadcrumb-top {
        background: #f8f8f8
    }

    .breadcrumb-cl {
        padding-top: 20px;
        padding-bottom: 20px
    }

    .breadcrumbs {
        padding-left: 20px;
        padding-right: 20px;
        line-height: 1.8
    }

    .breadcrumbs a {
        color: #555
    }

    .breadcrumbs a.current {
        display: block;
        color: #e60012
    }
}