.spu-detail {
    background: #f8f8f8;
    padding-bottom: 40px
}

.spu-detail-top {
    background-color: #ededed;
    background-image: url(/_nuxt/img/spu_bg.8ba0565.png);
    position: relative;
    background-position: 50%;
    background-repeat: no-repeat
}

.relative-box {
    position: relative;
    height: 100%
}

.pc-right-img {
    height: 100%;
    float: right;
    position: absolute;
    right: 0;
    top: -34px
}

.outer-sku-container {
    width: 100%;
    position: absolute;
    left: 0;
    top: 32%
}

.spu-detail-titile {
    width: 700px !important;
    color: #fff;
    margin-left: 40px
}

.spu-detail-data {
    margin-top: 45px
}

.spu-detail-titile div:first-of-type {
    font-weight: 400
}

.spu-detail-titile div:nth-of-type(2) {
    color: #fff;
    font-weight: 550
}

.spu-detail-data-one {
    color: #fff;
    float: left;
    margin-right: 30px
}

.spu-detail-data-one div:first-of-type {
    font-weight: 700
}

.spu-detail-data-one div:nth-of-type(2) {
    font-weight: 400
}

.detail-datas {
    float: left;
    margin-left: 40px
}

.detail-rquest {
    float: right;
    color: #fff;
    margin-top: 10px;
    cursor: pointer;
    margin-right: 40px;
    border: 2px solid #fff;
    text-align: center;
    width: 220px;
    height: 45px;
    line-height: 42px
}

.detail-maodian-value {
    padding: 15px 20px;
    display: flex !important;
    justify-content: space-between;
    font-size: 15px;
    color: #767676;
    background: #fff
}

.active, .activepc {
    color: #e60012
}

.activepc {
    border-bottom: 2px solid #e60012
}

.pc-maodian-s {
    padding: 20px 0 0;
    width: 50%;
    display: flex;
    justify-content: space-between;
    color: #333;
    margin-left: 40px
}

.floatLeft {
    float: left
}

.detail-maodian {
    background: #fff
}

.detail-maodian:hover {
    box-shadow: 0 2px 4px rgba(0, 0, 0, .16)
}

.pc-maodian-s div:not(.pc-maodian-s-line) {
    cursor: pointer;
    padding-bottom: 20px
}

.pc-maodian-s .pc-maodian-s-line {
    width: 1px;
    height: 32px;
    background: #e0e0e0
}

.goods-warp .moudle-title {
    font-weight: 700;
    color: #1d1d1d;
    text-align: center;
    margin: 70px 0 40px
}
.moudle-title {
    font-weight: 700;
    color: #1d1d1d;
    text-align: center;
    margin: 70px 0 40px
}
.moudle-expand {
    width: 100%;
    text-align: right;
    color: #3573e7;
    cursor: pointer;
    margin-bottom: 10px
}

.el-collapse, .el-collapse-item__header {
    border-bottom: 0 solid #ebeef5
}

.el-collapse {
    border-top: 0 solid #ebeef5
}

.el-collapse-item__header {
    font-size: 16px;
    color: #333
}

.value-el-desc {
    width: 42.8%;
    float: left;
    color: #504f4f;
    font-weight: 400;
    margin-left: 40px;
    padding-bottom: 50px
}

.value-el-img {
    width: 39.33%;
    float: right;
    padding: 0 60px 40px 0
}

.value-el-img img {
    width: 100%
}

.el-collapse-item {
    margin-bottom: 30px
}

.el-collapse-item__wrap {
    border-bottom: 0 solid #ebeef5
}

.el-collapse-item__header {
    height: 65px;
    line-height: 65px;
    padding: 40px
}

.el-table th > .cell {
    color: #1d1d1d;
    font-size: 16px;
    padding-left: 30px;
    padding-top: 20px
}

.model-name {
    width: 120px;
    color: #1d1d1d;
    float: left;
    margin-top: 10px;
    cursor: pointer;
    margin-right: 10px
}

.model-click {
    color: #0064d9;
    float: left
}

.phone-click {
    color: #0064d9;
    width: 100%
}

.phone-click div:first-of-type {
    float: left
}

.phone-click div:nth-of-type(2) {
    float: right
}

.el-table .cell {
    color: #504f4f;
    font-size: 14px
}

.case-moudle-value {
    display: flex;
    justify-content: space-between
}

.service-content-one {
    width: 23.93%;
    height: 0;
    margin: 0 auto;
    padding-top: 23.93%;
    background: #fff;
    cursor: pointer;
    position: relative
}

.service-content-one .sco-top {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0
}

.service-content-one:hover {
    box-shadow: 0 3px 6px rgba(0, 0, 0, .16)
}

.case-outer-div .sco-top {
    margin: 0
}

.sco-top {
    position: relative;
    overflow: hidden;
    z-index: 2;
    margin: 0 auto
}

.sco-top, .sco-top img {
    width: 100%;
    text-align: center
}

.sco-top img {
    transition-duration: .5s;
    z-index: 1;
    margin: 0;
    　　height: 0;
    　　padding-top: 100%;
    　　overflow: hidden
}

.sco-top img:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1)
}

.sco-bottom {
    color: #828282;
    margin: 5px 10px 20px
}

.sco-bottom-pc {
    padding: 10px;
    position: absolute;
    bottom: 0;
    color: #fff;
    z-index: 1001;
    width: 100%;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.service-content-one:hover .sco-bottom-pc {
    overflow: hidden;
    text-overflow: unset;
    white-space: normal;
    transition: all .3s
}

.sco-bottom-pc:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, .5);
    height: 100%;
    transform: translateY(100%);
    transition: all .3s;
    z-index: 1002
}

.sco-bottom-pc span {
    z-index: 1003;
    position: relative
}

.service-content-one:hover .sco-bottom-pc:after {
    transform: translate(0)
}

.goods-warp .el-button--primary {
    padding: 10px 0;
    text-align: center;
    width: 233px;
    border-radius: 0;
    font-size: 18px;
    cursor: pointer;
    margin: 50px auto 80px
}

.goods-warp .el-button--primary, .goods-warp .el-button--primary.is-active, .goods-warp .el-button--primary:active {
    background-color: #e60012;
    border-color: #e60012
}

.goods-warp .el-button--primary:focus, .goods-warp .el-button--primary:hover {
    background-color: #000;
    border-color: #000;
    transition: all .5s
}

.el-form-item.is-required:not(.is-no-asterisk) .el-form-item__label-wrap > .el-form-item__label:before, .el-form-item.is-required:not(.is-no-asterisk) > .el-form-item__label:before {
    display: none
}

.el-form--label-left .el-form-item__label {
    color: #1d1d1d;
    font-weight: 400;
    font-size: 16px
}

.expand-div-desc {
    color: #3e3e3e;
    margin-bottom: 30px;
    margin-left: 20%
}

.expand-expand-desc {
    color: #0064d9;
    margin-bottom: 30px;
    cursor: pointer;
    margin-left: 20%
}

.el-table .cell {
    overflow: visible;
    padding-left: 30px
}

.el-table th {
    height: 80px
}

.el-table__fixed-header-wrapper, .pc-model {
    padding-left: 15px
}

.pc-model {
    overflow: hidden
}

.el-table td, .el-table th.is-leaf {
    border-bottom: 0 solid #ebeef5
}

.el-table--striped .el-table__body tr.el-table__row--striped td {
    background: #fbfbfb
}

.model-click div {
    cursor: pointer
}

.gallery-moudle-value {
    margin-top: 20px;
    height: 660px;
    background: #fff
}

iframe, video {
    height: 660px;
    width: 100%
}

.gallery-moudle-value div div .el-carousel ul {
    display: none
}

.gallery-moudle-value div div .el-carousel .el-carousel__container .el-carousel__arrow {
    font-size: 25px;
    border-radius: 0;
    width: 45px;
    height: 45px;
    opacity: .3;
    background: #fff
}

.gallery-moudle-value div div .el-carousel .el-carousel__container .el-carousel__arrow i {
    color: #1d1d1d
}

.pc-maodian-gallery {
    width: 40%;
    margin-left: 30%
}

.vr_bgImg {
    text-align: center;
    position: relative
}

.vr_bgImg img {
    height: 400px;
    cursor: pointer
}

.vrSvg {
    width: 103px !important;
    height: 52px !important;
    position: absolute;
    top: calc(50% - 26px);
    left: calc(50% - 51px)
}

.gallery-img-left {
    width: calc(50% - 5px);
    float: left
}

.gallery-img-right {
    float: right
}

.gallery-img-right, .gallery-img:first-of-type {
    width: calc(50% - 5px)
}

.gallery-img {
    cursor: pointer;
    background: #e9eaeb;
    float: left
}

.gallery-img-left .gallery-img:first-of-type {
    width: 100%;
    margin-bottom: 5px
}

.gallery-img-left .gallery-img:nth-of-type(2) {
    width: calc(50% - 5px);
    float: left
}

.gallery-img-left .gallery-img:nth-of-type(3) {
    width: calc(50% - 5px);
    float: right
}

.gallery-img-right .gallery-img:first-of-type {
    width: calc(50% - 5px);
    float: left
}

.gallery-img-right .gallery-img:nth-of-type(2) {
    width: calc(50% - 5px);
    float: right
}

.gallery-img-right .gallery-img:nth-of-type(3) {
    width: 100%;
    margin-top: 10px
}

.gallery-moudle-value div div .el-carousel .el-carousel__indicators .el-carousel__indicator .el-carousel__button {
    background-color: red
}

.expand-expand-desc img {
    width: 12px
}

.goods-warp .el-input__inner {
    border-radius: 0 !important;
    border: 1px solid #707070;
    color: #333
}

.new-line-one {
    overflow: hidden;
    margin-bottom: 10px
}

.goods-warp .new-line-one-bt {
    width: 20%;
    float: left;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    color: #1d1d1d;
    line-height: 25px;
    display: flex;
    align-items: center;
    height: 40px
}

.goods-warp .form-one-line {
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    width: 80%;
    float: right
}

.expand-form-one-line {
    width: 100%;
    float: left;
    overflow: hidden
}

.goods-warp .el-form-item {
    float: left;
    width: calc((100% - 100px) / 3)
}

.goods-warp .form-one-line .el-form-item .el-form-item__content {
    margin-left: 0 !important;
    width: 100%
}

.goods-warp .el-select {
    width: 100%
}

.goods-warp .companyName .el-form-item {
    width: calc((100% - 100px) / 3 * 2 + 50px)
}

.goods-warp .el-textarea {
    width: 270%
}

.goods-warp .el-textarea__inner {
    height: 150px;
    background-color: #f8f8f8;
    border: 1px solid #707070;
    border-radius: 0
}

.goods-warp .el-input__inner {
    background-color: #f8f8f8
}

.goods-warp .el-select .el-input .el-select__caret {
    color: #3e3e3e
}

.goods-warp .el-input__inner::-webkit-input-placeholder {
    color: #999
}

.goods-warp .el-input__inner::-moz-input-placeholder {
    color: #999
}

.goods-warp .el-input__inner::-ms-input-placeholder {
    color: #999
}

.goods-warp .el-textarea__inner::-webkit-input-placeholder {
    color: #999
}

.goods-warp .el-textarea__inner::-moz-input-placeholder {
    color: #999
}

.goods-warp .el-textarea__inner::-ms-input-placeholder {
    color: #999
}

.gallery-pc-maodian-s {
    margin-left: 25%;
    display: flex !important;
    width: 50% !important
}

.biaoge-jt {
    width: 6px;
    margin-left: -3px;
    margin-top: -3px
}

.barFixed {
    display: block;
    width: 100%;
    box-shadow: 0 3px 6px rgba(0, 0, 0, .16);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1002
}

.detail-maodian-btns {
    float: right
}

.detail-maodian-btns div {
    width: 173px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #3e3e3e;
    border: 1px solid #707070;
    float: left;
    margin-top: 12px;
    cursor: pointer
}

.detail-maodian-btns div:first-of-type {
    margin-right: 20px
}

.clickA {
    color: #333
}

.clickA:hover {
    text-decoration: none;
    color: #333
}

.clickAB {
    color: #0064d9
}

.clickAB:hover {
    text-decoration: none;
    color: #0064d9
}

.el-table--enable-row-transition .el-table__body td, .el-table th {
    background: #f2f7fd
}

.el-table th {
    font-weight: 600;
    background: #fff
}

.case-outer-div {
    width: 100%;
    display: flex;
    justify-content: space-between
}

@media only screen and (max-width: 321px) {
    .detail-maodian-value {
        font-size: 13px
    }
}

@media only screen and (max-width: 769px) {
    .select-addModel, .select-addModel label {
        width: 100%;
        height: 100%
    }

    .select-addModel .myselect {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0
    }

    .select-addModel .select-addModel-add {
        width: 100%;
        height: 100%;
        font-weight: 400
    }

    .detail-maodian-value {
        justify-content: space-around
    }

    .sco-top img {
        width: 100%;
        margin: 0 !important
    }

    .spu-detail-top {
        background: #000;
        overflow: hidden
    }

    .spu-detail-data {
        left: 20px
    }

    .detail-rquest {
        float: left
    }

    .spu-detail-titile {
        top: 20px;
        left: 20px
    }

    .phone-data {
        padding: 32px 20px;
        color: #1d1d1d;
        font-size: 14px
    }

    .phone-data-one:not(:last-child) {
        margin-bottom: 30px
    }

    .spu-detail-data {
        bottom: 12%
    }

    .spu-detail-titile {
        width: 100% !important;
        top: 12%;
        margin-left: 0
    }

    .spu-detail-titile div:first-of-type {
        margin-bottom: 5px
    }

    .goods-warp .moudle-title {
        font-size: 23px;
        font-weight: 700;
        color: #1d1d1d;
        margin: 20px 0 25px;
        padding-top: 0 !important;
        padding-bottom: 0 !important
    }

    .moudle-expand {
        width: 100%;
        float: right;
        font-size: 14px;
        font-weight: 400;
        color: #0064d9;
        margin: 0 20px 10px
    }

    .value-el-desc {
        width: calc(100% - 40px);
        margin-left: 20px;
        padding-bottom: 0;
        font-size: 14px
    }

    .value-el-img {
        width: calc(100% - 40px);
        padding: 0;
        margin: 20px
    }

    .el-collapse-item__header {
        padding: 20px;
        font-size: 17px;
        height: auto;
        line-height: 25px
    }

    .el-table__fixed-header-wrapper {
        padding-left: 0 !important
    }

    .case-moudle-value {
        display: block;
        width: 100%;
        height: 100%;
        overflow-x: scroll;
        overflow-y: hidden;
        white-space: nowrap;
        padding: 0 !important;
        background: #f8f8f8 !important
    }

    .case-moudle-value::-webkit-scrollbar {
        display: none
    }

    .case-moudle-value {
        scrollbar-width: none;
        -ms-overflow-style: none
    }

    .service-content-one {
        width: 267px;
        height: 0;
        padding-top: 267px;
        margin-left: 20px;
        float: left;
        background: none
    }

    .case-outer-div {
        width: 1168px;
        height: 370px
    }

    .sco-bottom {
        font-size: 14px;
        margin: 0;
        height: 60px;
        padding-top: 15px;
        color: #333
    }

    .sco-bottom, .sco-bottom div {
        white-space: pre-line
    }

    .service-content-one:last-child {
        margin-right: 20px
    }

    .gallery-detail-maodian-value {
        padding: 15px 60px;
        color: #333
    }

    .gallery-img-left .gallery-img:first-of-type {
        margin-bottom: 5px
    }

    .gallery-img-right .gallery-img:nth-of-type(3) {
        margin-top: 5px
    }

    .gallery-img-left .gallery-img:nth-of-type(2), .gallery-img-left .gallery-img:nth-of-type(3), .gallery-img-right .gallery-img:first-of-type, .gallery-img-right .gallery-img:nth-of-type(2) {
        width: calc(50% - 2.5px)
    }

    .gallery-img-left, .gallery-img-right {
        width: 100%
    }

    .detail-maodian {
        margin-bottom: 15px
    }

    .el-carousel__container {
        height: 285px
    }

    .gallery-moudle-value {
        padding: 0 20px;
        margin-top: 0 !important;
        height: 380px;
        background: #f8f8f8;
        overflow: hidden
    }

    iframe, video {
        width: 100%;
        height: 380px
    }

    .gallery-img-left .gallery-img:first-of-type {
        height: 251px
    }

    .gallery-img-left .gallery-img:nth-of-type(2), .gallery-img-left .gallery-img:nth-of-type(3) {
        height: 124px
    }

    .spu-detail-top img {
        margin-left: -62%;
        width: auto
    }

    .fixed-phone-btn {
        width: 100%;
        height: 67px;
        background: #fff;
        box-shadow: 0 -1px 2px 0 rgba(0, 0, 0, .16);
        position: fixed;
        bottom: 0;
        left: 0;
        z-index: 1002
    }

    .fixed-phone-btn div {
        width: 253px;
        height: 37px;
        background: #dc000c;
        margin: 15px auto;
        font-weight: 400;
        text-align: center;
        color: #fff;
        line-height: 37px
    }

    .outer-sku-container {
        left: 20px;
        top: 17%
    }

    .spu-detail-data {
        margin-top: 10px
    }

    .phone-data-one {
        overflow: hidden
    }

    .phone-data-img {
        width: 47px;
        height: 47px;
        float: left;
        margin-right: 13px
    }

    .phone-data-word {
        float: left
    }

    .phone-data-word div:first-of-type {
        font-size: 14px;
        font-weight: 400;
        color: #333;
        line-height: 19px;
        margin-bottom: 6px
    }

    .phone-data-word div:nth-of-type(2) {
        font-size: 17px;
        font-weight: 700;
        color: #000;
        line-height: 20px
    }

    .phone-top {
        position: relative
    }

    .topImgH5 {
        width: 100%
    }

    .phone-top-value {
        position: absolute;
        bottom: 22px;
        margin: 0 17px;
        width: calc(100% - 34px)
    }

    .spu-detail-titile div:nth-of-type(2) {
        height: 65px;
        line-height: 30px
    }

    .phoneSpu-request {
        height: 44px;
        background: #dc000c;
        font-size: 14px;
        font-weight: 400;
        text-align: center;
        color: #fff;
        line-height: 44px;
        margin: 15px 20px
    }

    .vr_bgImg {
        height: 290px;
        overflow: hidden
    }

    .moudle-value-el .el-collapse-item {
        margin-bottom: 15px
    }

    .el-table--enable-row-transition .el-table__body td, .el-table th {
        background: #f2f7fd
    }

    .el-table th {
        font-weight: 600;
        background: #fff
    }

    .phone-click div:first-of-type {
        margin-right: 20px
    }
}

@media screen and (max-width: 1024px) and (min-width: 769px) {
    .goods-warp .moudle-title {
        font-size: 32px
    }
}

@media only screen and (min-width: 768px) {
    .pc-right-img {
        position: relative
    }

    .outer-sku-container {
        top: 60%
    }

    .el-collapse-item {
        margin-bottom: 20px
    }
}

@media only screen and (min-width: 992px) {
    .spu-detail-titile {
        width: 550px !important;
        line-height: 38px
    }

    .spu-detail-top {
        height: 375px;
        background-size: auto 375px
    }

    .pc-right-img {
        height: 375px
    }

    .detail-rquest {
        width: 220px;
        height: 45px;
        line-height: 42px
    }

    .pc-right-img {
        position: absolute
    }

    .outer-sku-container {
        top: 32%
    }

    .gallery-moudle-value, .vr_bgImg img, iframe, video {
        height: 545px
    }

    .gallery-img-left .gallery-img:first-of-type, .gallery-img-right .gallery-img:nth-of-type(3) {
        height: 360px
    }

    .gallery-img-left .gallery-img:nth-of-type(2), .gallery-img-left .gallery-img:nth-of-type(3), .gallery-img-right .gallery-img:first-of-type, .gallery-img-right .gallery-img:nth-of-type(2) {
        height: 176px
    }
}

@media only screen and (min-width: 1280px) {
    .spu-detail-top {
        height: 370px;
        background-size: auto 370px
    }

    .pc-right-img {
        height: 370px;
        position: absolute
    }

    .outer-sku-container {
        top: 32%
    }

    .gallery-moudle-value, .vr_bgImg img, iframe, video {
        height: 655px
    }

    .gallery-img-left .gallery-img:first-of-type, .gallery-img-right .gallery-img:nth-of-type(3) {
        height: 435px
    }

    .gallery-img-left .gallery-img:nth-of-type(2), .gallery-img-left .gallery-img:nth-of-type(3), .gallery-img-right .gallery-img:first-of-type, .gallery-img-right .gallery-img:nth-of-type(2) {
        height: 214px
    }
}

@media only screen and (min-width: 1440px) {
    .gallery-moudle-value, .vr_bgImg img, iframe, video {
        height: 675px
    }

    .gallery-img-left .gallery-img:first-of-type, .gallery-img-right .gallery-img:nth-of-type(3) {
        height: 446px
    }

    .gallery-img-left .gallery-img:nth-of-type(2), .gallery-img-left .gallery-img:nth-of-type(3), .gallery-img-right .gallery-img:first-of-type, .gallery-img-right .gallery-img:nth-of-type(2) {
        height: 220px
    }

    .pc-right-img {
        position: absolute
    }

    .outer-sku-container {
        top: 32%
    }

    .detail-rquest {
        width: 280px
    }

    .spu-detail-titile {
        width: 580px !important;
        line-height: 58px
    }

    .goods-warp .el-collapse-item__header, .goods-warp .el-table th > .cell {
        font-size: 24px
    }

    .goods-warp .el-table .cell {
        font-size: 20px
    }

    .goods-warp .el-button--primary {
        font-size: 26px
    }

    .form-one-line .el-form-item .el-form-item__content {
        margin-left: 0 !important
    }

    .goods-warp .el-table th, .goods-warp .el-table tr {
        height: 100px
    }

    .goods-warp .el-button--primary {
        width: 310px
    }

    .goods-warp .el-form--label-left .el-form-item__label {
        font-size: 20px !important
    }

    .new-line-one .new-line-one-bt {
        font-size: 24px
    }

    .biaoge-jt {
        width: 8px;
        margin-left: -5px;
        margin-top: -3px
    }

    .detail-maodian-btns div {
        width: 230px;
        height: 45px;
        line-height: 45px;
        margin-top: 15px
    }

    .spu-detail-data {
        margin-top: 50px
    }

    .model-name {
        width: 180px
    }

    .goods-warp .el-input__inner, .goods-warp .el-select .el-input__inner {
        height: 50px;
        font-size: 16px
    }

    .goods-warp .el-textarea__inner {
        font-size: 16px
    }

    .spu-detail-top {
        height: 550px;
        background-size: auto 550px
    }

    .pc-right-img {
        height: 460px
    }

    .detail-rquest {
        width: 250px;
        height: 50px;
        line-height: 45px
    }

    .spu-detail-titile div:nth-of-type(2) {
        font-size: 48px
    }

    .goods-warp .new-line-one-bt {
        height: 50px
    }
}

@media only screen and (min-width: 1680px) {
    .spu-detail-titile {
        width: 690px !important;
        line-height: 58px;
        height: 180px;
        overflow: hidden
    }

    .spu-detail-titile div:nth-of-type(2) {
        font-size: 48px
    }

    .spu-detail-top {
        height: 550px;
        background-size: auto 550px
    }

    .pc-right-img {
        height: 460px;
        position: absolute
    }

    .outer-sku-container {
        top: 32%
    }

    .gallery-moudle-value, .vr_bgImg img, iframe, video {
        height: 660px
    }

    .gallery-img-left .gallery-img:first-of-type, .gallery-img-right .gallery-img:nth-of-type(3) {
        height: 446px
    }

    .gallery-img-left .gallery-img:nth-of-type(2), .gallery-img-left .gallery-img:nth-of-type(3), .gallery-img-right .gallery-img:first-of-type, .gallery-img-right .gallery-img:nth-of-type(2) {
        height: 220px
    }
}

@media only screen and (min-width: 1920px) {
    .spu-detail-titile {
        width: 700px !important;
        line-height: 58px
    }

    .spu-detail-top {
        height: 550px;
        background-size: auto 550px
    }

    .pc-right-img {
        height: 550px;
        position: absolute
    }

    .outer-sku-container {
        top: 32%
    }

    .spu-detail-titile div:nth-of-type(2) {
        font-size: 54px
    }

    .gallery-moudle-value, .vr_bgImg img, iframe, video {
        height: 785px
    }

    .gallery-img-left .gallery-img:first-of-type, .gallery-img-right .gallery-img:nth-of-type(3) {
        height: 535px
    }

    .gallery-img-left .gallery-img:nth-of-type(2), .gallery-img-left .gallery-img:nth-of-type(3), .gallery-img-right .gallery-img:first-of-type, .gallery-img-right .gallery-img:nth-of-type(2) {
        height: 265px
    }
}

.outer-tc {
    height: 100%;
    background: #000;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1002
}

.outer-tc, .previewImg {
    width: 100%
}

.isFixed {
    position: fixed;
    background-color: #fff;
    top: 44px;
    z-index: 999
}

.el-breadcrumb {
    margin-left: 40px
}

.model-brochure {
    margin-bottom: 4px
}